<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Ministério da Justiça - SISLEGIS</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="lib/admin-lte/dist/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="lib/admin-lte/dist/css/skins/skin-blue.min.css" />
    <link rel="stylesheet" href="lib/components-font-awesome/css/font-awesome.min.css" />
    <!--<link rel="stylesheet" href="lib/ionicons/css/ionicons.min.css" />-->
    <link rel="stylesheet" href="styles/sislegis/css/sislegis.css" />
    <link href="lib/angularjs-toaster/toaster.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="lib/ng-tags-input/ng-tags-input.min.css" />
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-cloak="">
    <div class="wrapper">
        <header class="main-header">
            <a href="index.html" class="logo">
                <span class="logo-mini">
                <!-- <img src="img/brasao-mj.png" class="img-responsive" style="width: 45px;" /> -->
            </span>
                <span class="logo-lg">SISLEGIS</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Menu</span> </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav" ng-controller="NotificacaoController">
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bell-o"></i>
                                <span ng-show="listaNotificacaoTarefas && listaNotificacaoTarefas.length>0" class="label label-warning">{{(listaNotificacaoTarefas | filter:{visualizada:false}).length}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Você tem {{listaNotificacaoTarefas.length}} notificações</li>
                                <li>
                                    <ul class="menu">
                                        <li ng-repeat="notificacao in listaNotificacaoTarefas | orderBy : 'notificacao.criadaEm' | limitTo: 5">
                                            <a href="#/Tarefas/edit/{{notificacao.identificacaoEntidade}}" ng-class="{true:'read', false:'unread', '':'unread'}[notificacao.visualizada]">{{notificacao.descricao}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#/Tarefas">ver todas</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <ul class="sidebar-menu" ng-controller="GlobalCtrl">
                    <li class="header">MENU </li>

                    <li ng-class="{'active':!itemMenu || itemMenu=='dashboard'}"> <a href="#/Dashboard"  ng-click="itemMenu='dashboard'"><i class="fa fa-dashboard"></i> <span>Painel de controle</span></a></li>
                    <li ng-class="{'active':itemMenu=='despachos'}" ng-show="auth.isSecretario()" > <a href="#/Proposicao/despachar"  ng-click="itemMenu='despachos'"><i class="fa fa-send"></i> <span>Despachos</span></a></li>
                    <li ng-class="{'active':itemMenu=='proposicao'}"><a href="#/Proposicao/consultar" ng-click="itemMenu='proposicao'"><i class="fa fa-files-o"></i><span>Proposições</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-book"></i> <span>Relatórios</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="index-relatorio.html#/relatorios/Despachadas"><i class="fa fa-book"></i><span> Despachadas</span></a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-plus"></i> <span>Cadastros</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li ng-class="{'active':itemMenu=='areaDeMerito'}"><a href="#/AreaDeMerito" ng-click="itemMenu='areaDeMerito'"><i class="fa fa-institution"></i><span>Áreas</span></a></li>

                            <li ng-class="{'active':itemMenu=='posicionamento'}"><a href="#/Posicionamentos" ng-click="itemMenu='posicionamento'"><i class="fa fa-file"></i><span>Posicionamentos</span></a></li>
                            <li ng-class="{'active':itemMenu=='tipoEncaminhamento'}"><a href="#/TipoEncaminhamentos" ng-click="itemMenu='tipoEncaminhamento'"><i class="fa fa-reply"></i><span>Tipo de Encaminhamentos</span></a></li>
                            <!--<li ng-class="{'active':itemMenu=='areaConsultada'}"><a href="#/AreaConsultadas" ng-click="itemMenu='areaConsultada'"><i class="fa fa-search"></i><span>Áreas Consultadas</span></a></li>-->
                            <li ng-class="{'active':itemMenu=='orgao'}"><a href="#/Orgaos" ng-click="itemMenu='orgao'"><i class="fa fa-building-o"></i><span>Órgão</span></a></li>
                            <li ng-class="{'active':itemMenu=='gerenciarComissao'}"><a href="#/GerenciarComissaoSeguida" ng-click="itemMenu='gerenciarComissao'"><i class="fa fa-share"></i><span>Seguir Pautas</span></a></li>
                            <!--<li ng-class="{'active':itemMenu=='gerenciarSituacao'}"><a href="#/GerenciarSituacoes" ng-click="itemMenu='gerenciarSituacao'"><i class="fa fa-share"></i><span>Situações Legislativas</span></a></li>-->
                            <li ng-class="{'active':itemMenu=='usuario'}"><a href="#/Usuarios" ng-click="itemMenu='usuario'"><i class="fa fa-user"></i><span>Usuário</span></a></li>
                            <li ng-class="{'active':itemMenu=='equipe'}"><a href="#/Equipes" ng-click="itemMenu='equipe'"><i class="fa fa-group"></i><span>Equipe</span></a></li>
                            <!--<li ng-class="{'active':itemMenu=='elaboracaoNormativa'}"><a href="#/ElaboracaoNormativa" ng-click="itemMenu='elaboracaoNormativa'"><i class="fa fa-book"></i><span>Elaboração normativa</span></a></li>-->
                            <li ng-class="{'active':itemMenu=='reuniao'}"><a href="#/Reuniaos/reuniaonova" ng-click="itemMenu='reuniao'"><i class="fa fa-calendar"></i><span>Reuniões</span></a></li>
                        </ul>
                    </li>
                    <li ng-show="auth.loggedIn"><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
            <div id="main" ng-view></div>
        </div>
        <footer class="main-footer">
            <strong>Copyleft 2015 <a href="http://sislegis.mj.gov.br">SISLegis</a>.</strong>
        </footer>
    </div>
    <!-- build:js -->
    <script src="lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="lib/jquery-ui/ui/minified/jquery-ui.min.js" type="text/javascript"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="lib/modernizr/modernizr.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/angular-i18n/angular-locale_pt-br.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/es5-shim/es5-sham.min.js"></script>
    <script src="lib/angular-file-upload/angular-file-upload.min.js"></script>
    <script src="lib/angular-ui-utils/ui-utils.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angularjs-toaster/toaster.js"></script>
    <script src="lib/angular-filter/dist/angular-filter.min.js"></script>
    <script src="lib/checklist-model/checklist-model.js"></script>
    <script src="lib/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>
    <script src="lib/lodash/dist/lodash.js"></script>
    <script src="lib/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script src="lib/angular-confirm-modal/angular-confirm.min.js"></script>
    <script src="lib/admin-lte/dist/js/app.min.js"></script>
    <script src="lib/off-bower/pace.min.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/offcanvas.js"></script>
    <script src="scripts/directives/directives.js"></script>
    <script src="scripts/directives/datepicker.js"></script>
    <script src="scripts/directives/timepicker.js"></script>
    <script src="scripts/directives/datetimepicker.js"></script>
    <script src="scripts/filters/startFromFilter.js"></script>
    <script src="scripts/filters/genericSearchFilter.js"></script>

    <script src="lib/ng-tags-input/ng-tags-input.js"></script>
    <script src="scripts/services/TagFactory.js"></script>

    <script src="scripts/services/AgendaComissaoFactory.js"></script>
    <script src="scripts/controllers/gerenciarReuniaoController.js"></script>
    <script src="scripts/controllers/proposicaoController.js"></script>
    <script src="scripts/controllers/modalBuscarProposicaoController.js"></script>
    <script src="scripts/controllers/modalAddProposicaoController.js"></script>
    
    <script src="scripts/controllers/modalNotaTecnicaController.js"></script>
    

    <script src="scripts/controllers/SislegisControllers.js"></script>

    <script src="scripts/controllers/modalEncaminhamentosController.js"></script>
    <script src="scripts/controllers/modalRelatorioReuniaoController.js"></script>
    <script src="scripts/controllers/modalRelatorioProposicaoController.js"></script>
    <script src="scripts/services/ComentarioFactory.js"></script>
    <script src="scripts/services/ComentarioService.js"></script>
    <script src="scripts/services/EncaminhamentoProposicaoFactory.js"></script>
    <script src="scripts/services/ComissaoFactory.js"></script>
    <script src="scripts/services/ProposicaoFactory.js"></script>
    <script src="scripts/services/ReuniaoFactory.js"></script>
    <script src="scripts/services/ElaboracaoNormativaFactory.js"></script>
    <script src="scripts/services/TarefaFactory.js"></script>
    <script src="scripts/services/NotificacaoFactory.js"></script>
    <script src="scripts/services/VotacaoFactory.js"></script>
    <script src="scripts/services/SislegisFactories.js"></script>

    <!-- Posicionamento -->
    <script src="scripts/controllers/newPosicionamentoController.js"></script>
    <script src="scripts/controllers/searchPosicionamentoController.js"></script>
    <script src="scripts/controllers/editPosicionamentoController.js"></script>
    <script src="scripts/services/PosicionamentoFactory.js"></script>

    <!-- Encaminhamento -->
    <script src="scripts/services/TipoEncaminhamentoFactory.js"></script>
    <script src="scripts/controllers/newTipoEncaminhamentoController.js"></script>
    <script src="scripts/controllers/searchTipoEncaminhamentoController.js"></script>
    <script src="scripts/controllers/editTipoEncaminhamentoController.js"></script>

    <!-- Equipe -->
    <script src="scripts/services/EquipeFactory.js"></script>
    <script src="scripts/controllers/searchEquipeController.js"></script>
    <script src="scripts/controllers/equipeController.js"></script>

    <!-- Usuario -->
    <script src="scripts/services/UsuarioFactory.js"></script>
    <script src="scripts/controllers/newUsuarioController.js"></script>
    <script src="scripts/controllers/searchUsuarioController.js"></script>
    <script src="scripts/controllers/editUsuarioController.js"></script>

    <!-- Reuniao Proposição -->
    <script src="scripts/services/ReuniaoProposicaoFactory.js"></script>

    <!-- Elaboração Normativa -->
    <script src="scripts/controllers/searchElaboracaoNormativaController.js"></script>
    <script src="scripts/controllers/elaboracaoNormativaController.js"></script>

    <!-- Status Sidof -->
    <script src="scripts/controllers/searchStatusSidofController.js"></script>
    <script src="scripts/controllers/newStatusSidofController.js"></script>
    <script src="scripts/controllers/editStatusSidofController.js"></script>

    <!-- Upload -->
    <script src="scripts/controllers/uploadController.js"></script>

    <!-- Tarefa -->
    <script src="scripts/controllers/tarefaController.js"></script>
    <script src="scripts/controllers/notificacaoController.js"></script>

    <!-- OrigemElaboracaoNormativa -->
    <script src="scripts/services/OrigemElaboracaoNormativaFactory.js"></script>
    <script src="scripts/controllers/newOrigemElaboracaoNormativaController.js"></script>
    <script src="scripts/controllers/searchOrigemElaboracaoNormativaController.js"></script>

    <!-- AreaConsultada -->
    <script src="scripts/services/AreaConsultadaFactory.js"></script>
    <script src="scripts/controllers/newAreaConsultadaController.js"></script>
    <script src="scripts/controllers/searchAreaConsultadaController.js"></script>
    <script src="scripts/controllers/editAreaConsultadaController.js"></script>

    <!-- Orgao -->
    <script src="scripts/services/OrgaoFactory.js"></script>
    <script src="scripts/controllers/newOrgaoController.js"></script>
    <script src="scripts/controllers/searchOrgaoController.js"></script>
    <script src="scripts/controllers/editOrgaoController.js"></script>

    <!-- AgendaSeguida -->
    <script src="scripts/controllers/SearchAgendaComissaoController.js"></script>
    <script src="scripts/services/ElaboracaoNormativaConsultaFactory.js"></script>
    <script src="scripts/services/StatusSidofFactory.js"></script>
    <script src="scripts/services/locationParser.js"></script>
    <!-- endbuild -->

    <script src="http://KEYCLOAK_SERVER/auth/js/keycloak.js"></script>

</body>

</html>
