a{
    cursor: pointer;
}
.line-1 {
    height: 60px;
}
.line-2 {
    height: 110px;
}
.line-3 {
    height: 130px;
}
.line-4 {
    height: 170px;
}
.line-5 {
    height: 230px;
}
.line-6 {
    height: 290px;
}
.line-7 {
    height: 350px;
}
.line-8 {
    height: 410px;
}
.line-9 {
    height: 470px;
}
.line-10 {
    height: 530px;
}
.line-11 {
    height: 590px;
}
.line-12 {
    height: 650px;
}
.line-13 {
    height: 710px;
}
.line-14 {
    height: 770px;
}
.line-15 {
    height: 830px;
}
.line-16 {
    height: 890px;
}
.rol-vert {
    display: block;
    overflow: auto;
    overflow-x: hidden;
}
.rol-hor {
    display: block;
    overflow: auto;
    overflow-y: hidden;
}
.rol-hor-vert {
    display: block;
    overflow: auto;
}
.group-pills {
    margin: 0;
    padding: 0;
}
.group-pills ul, .group-pills li {
    list-style-type: none;
}
.group-pills .group-pills-item {
    float: left;
    width: auto;
    border-radius: 4px;
    border: 1px solid #19B232;
    background-color: #ECFFEF;
    margin: 3px;
    padding: 3px;
}
.group-pills .group-pills-item .close {
    margin: -3px 0 0 5px;
}
.group-pills .group-pills-item:hover {
    background-color: #BEFFC9;
}
.group-pills:before, .group-pills:after {
    content: " ";
    display: table;
}
.group-pills:after {
    clear: both;
}
.group-pills:before, .group-pills:after {
    display: table;
    content: " "}
.group-pills:after {
    clear: both;
}

/** Reunião proposição **/
.modal .list-proposicao{}
.modal .list-proposicao .list-proposicao-item{
    padding: 15px;
    margin:3px;
    border-bottom: 1px solid #ccc;

}
.modal .list-proposicao .list-proposicao-item:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}
.modal .list-proposicao .list-proposicao-item:active{
    background-color: #E4FDF2;
    cursor: pointer;
}

.unread{
	font-weight: bold;
}

.read{
	font-weight: normal;
}


.modal .list-proposicao .active{
    background-color: #E4FDF2;
}
.modal .list-proposicao .list-proposicao-item p{margin:3px;}

/** Tarefas **/
/* tarefa urgente */
.tarefas .tarefa-urgente .panel{ border-color: #8d0d0d; border-left: 5px solid #8d0d0d; }
.tarefas .tarefa-urgente .tarefa-titulo,
.tarefas .tarefa-urgente .tarefa-dtlimite span,
.tarefas .tarefa-urgente .tarefa-status span { color:#8d0d0d; }

/* tarefa nova */
.tarefas .tarefa-nova .panel{ border-color: #ff6600; border-left: 5px solid #ff6600; }
.tarefas .tarefa-nova .tarefa-titulo,
.tarefas .tarefa-nova .tarefa-dtlimite span,
.tarefas .tarefa-nova .tarefa-status span { color:#ff6600; }

/* tarefa ok */
.tarefas .tarefa-ok .panel{ border-color: #54960d; border-left: 5px solid #54960d; }
.tarefas .tarefa-ok .tarefa-titulo,
.tarefas .tarefa-ok .tarefa-dtlimite span,
.tarefas .tarefa-ok .tarefa-status span { color:#54960d; }

/* tarefa concluida */
.tarefas .tarefa-conc .panel{ border-color: #808080; border-left: 5px solid #808080;  }
.tarefas .tarefa-conc .panel a,
.tarefas .tarefa-conc .panel{ color: #808080;}
.tarefas .tarefa-conc .tarefa-titulo,
.tarefas .tarefa-conc .tarefa-dtlimite span,
.tarefas .tarefa-conc .tarefa-status span { color:#808080; text-decoration: line-through;}

@media print {
    section, section *, header, header *, aside, aside *, toaster-container, footer{
        display: none !important;
    }
    .printable{
        margin-left:-50%;
    }
}
@media screen {
    .printable{
        display: none;
    }
}

/** Preloading start **/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 12px;
    background: #fff;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background-color: #29d;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 100%;
    overflow: hidden;
}

.pace .pace-activity {
    position: fixed;
    top: 0;
    right: -32px;
    bottom: 0;
    left: 0;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px 32px;
    -o-background-size: 32px 32px;
    background-size: 32px 32px;

    -webkit-animation: pace-theme-barber-shop-motion 500ms linear infinite;
    -moz-animation: pace-theme-barber-shop-motion 500ms linear infinite;
    -ms-animation: pace-theme-barber-shop-motion 500ms linear infinite;
    -o-animation: pace-theme-barber-shop-motion 500ms linear infinite;
    animation: pace-theme-barber-shop-motion 500ms linear infinite;
}

@-webkit-keyframes pace-theme-barber-shop-motion {
    0% { -webkit-transform: none; transform: none; }
    100% { -webkit-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-moz-keyframes pace-theme-barber-shop-motion {
    0% { -moz-transform: none; transform: none; }
    100% { -moz-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-o-keyframes pace-theme-barber-shop-motion {
    0% { -o-transform: none; transform: none; }
    100% { -o-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-ms-keyframes pace-theme-barber-shop-motion {
    0% { -ms-transform: none; transform: none; }
    100% { -ms-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@keyframes pace-theme-barber-shop-motion {
    0% { transform: none; transform: none; }
    100% { transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
/** Preloading end **/