<link href="styles/css/theme-sislegis/tarefas.css" rel="stylesheet" type="text/css" />
<div class="container">
    <div class="row" ng-show="listaTarefas.length > 0 && !editTarefaId">
        <div class="col-xs-12">
            <h4 class="mt-0">Você possui <strong class="text-red">{{(listaTarefas | filter:{finalizada:false}).length}}</strong> novas tarefas</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-inline" ng-show="listaTarefas.length > 0 && !editTarefaId">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Filtrar tarefas" ng-model="filtroTarefa">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option value="" selected>Todas</option>
                        <option>Finalizadas</option>
                        <option>Novas</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="input-group width-grid-2">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="campoData" date-type="string" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" readonly /> <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openCalendar($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tarefas mt-md">
        <!-- tipos: conc, nova, ok, urgente -->
        <div class="tarefa-{{tarefa.finalizada === true ? 'conc' : 'nova'}} mb-md" ng-repeat="tarefa in listaTarefas | orderBy:['finalizada','encaminhamentoProposicao.dataHoraLimite'] | filter: {id : editTarefaId}">
 			<div class="panel panel-default">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="col-sm-6">
                            <h4 class="mt-0 tarefa-titulo"><i class="fa fa-exclamation-circle"></i> {{tarefa.tipoTarefa}} - {{tarefa.encaminhamentoProposicao.encaminhamento.nome}}</h4>
                        </div>
                        <div class="col-sm-3 tarefa-dtlimite">
                            <p>Data limite: <span>{{tarefa.encaminhamentoProposicao.dataHoraLimite | date:'dd/MM/yyyy'}}</span>
                            </p>
                        </div>
                        <div class="col-sm-3 tarefa-status">
                            <p>Status: <span>{{tarefa.finalizada === true ? 'Finalizada' : 'Não finalizada'}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="divider-top">
                        <div class="clearfix tarefa-opcoes">
                            <div class="col-sm-7">
                                <p class="fontsize-sm">Data de registro da tarefa: {{tarefa.data | date:'dd/MM/yyyy'}}</p>
                                <p>{{tarefa.proposicao.sigla}}</p>
                                <p>{{tarefa.proposicao.ementa}}</p>
                            </div>
                            <div class="col-sm-4 divider-left">
                                <a ng-show="!tarefa.finalizada" href="javascript:;" ng-click="finalizarTarefa(tarefa)"><i class="fa fa-thumbs-o-up"></i> Marcar como finalizada</a>
                                <div class="{{tarefa.finalizada ? '' : 'divider-top' }}">
                                    <p><a href="#"><i class="fa fa-comments"></i> Comentários</a>
                                    </p>
                                    <p><a href="#" class="mt-sm"><i class="fa fa-share-square-o"></i> Outros encaminhamentos desta proposição</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
