 <!-- Tudo que for para o usuario imprimir deve ficar nesse HTML -->
 <div class="list-group" ng-repeat="(comissao, value) in listaReuniaoProposicoes
  | filter:filtroGlobal | filter:filtroOrigem | filter:filtroComissao
   | filter:{favorita:filtroFavorita}
   | filter:filtroResponsavel | filter:filtroPosicionamento : true
   | filter:{responsavelNaoDefinido:filtroResponsavelNaoDefinido} | filter:{posicionamentoNaoDefinido:filtroPosicionamentoNaoDefido}
   |  groupBy :'comissao' |  orderBy : 'comissao' ">
    <div class="list-group-item active" ng-show="comissao && comissao != 'null' && comissao != ''">
         <h4 class="list-group-item-heading">
             {{comissao}}
         </h4>
     </div>
     <div ng-repeat="item in value | orderBy : 'pautaComissaoAtual.ordemPauta'" class="list-group-item clearfix">
	     <div class="row">
	         <div class="col-sm-12">
	             <h3 class="list-group-item-heading">
                     <i class="fa fa-star-o" ng-show="!item.favorita" ng-click="item.favorita=true;save(item)"></i>
                     <i class="fa fa-star" style="color:orange" ng-show="item.favorita" ng-click="item.favorita=false; save(item)"></i>
                     {{item.sigla}}
                 </h3>
	             <p>{{item.ementa}}
	                 <br/>
	                 <strong>Autor: </strong>{{item.autor}}
	                 <br/>
	                 <strong>Origem: </strong>{{item.origem}}
	                 <br/>
	                 <strong>Comissao: </strong>{{item.comissao}}
	                 <br/>
	                 <strong>Ordem na Pauta: </strong>{{item.pautaComissaoAtual.ordemPauta}} <span ng-show="!item.pautaComissaoAtual.ordemPauta">Ordem não cadastrada.</span>
	                 <br/>
	                 <strong>Responsável: </strong>{{item.responsavel.nome}} <span ng-show="!item.responsavel">Sem responsável definido.</span>
	                 <br/>
	                 <strong>Posicionamento: </strong>{{item.posicionamentoAtual.nome}} <span ng-show="!item.posicionamentoAtual">Sem posicionamento definido.</span>
                     <br/>
                     <strong>Relator: </strong>{{item.pautaComissaoAtual.relator}}
	                 <br/>
                     <div ng-show="item.listaComentario.length > 0">
	                 <strong>Comentários</strong>
                     <ul>
                         <li ng-repeat="comentario in item.listaComentario | orderBy :'dataCriacao'">
                            <pre style="font-family: inherit; font-size: inherit; background: inherit; border: inherit; padding: inherit; color: inherit; margin: inherit; line-height: inherit;">{{comentario.dataCriacao | date: 'dd/MM/yyyy'}} - {{comentario.descricao}}</pre>
                         </li>
                     </ul>
                    </div>
	                 <strong>Resultado: </strong>{{item.pautaComissaoAtual.resultado}} <span ng-show="!item.pautaComissaoAtual.resultado">Sem resultado definido.</span>
                 <br/>
	             </p>
	         </div>
	     </div>
     </div>
 </div>
 
