 <!-- Tudo que for para o usuario imprimir deve ficar nesse HTML -->
 <div class="list-group">
     <div class="list-group-item clearfix">
	     <div class="row">
	         <div class="col-sm-12">
	             <h3 class="list-group-item-heading">{{proposicao.sigla}}</h3>
	             <p>{{proposicao.ementa}}
	                 <br/>
	                 <strong>Autor: </strong>{{proposicao.autor}}
	                 <br/>
	                 <strong>Origem: </strong>{{proposicao.origem}}
	                 <br/>
	                 <strong>Comissao: </strong>{{proposicao.comissao}}
	                 <br/>
	                 <strong>Ordem na Pauta: </strong>{{proposicao.pautaComissaoAtual.ordemPauta}}
	                 <br/>
	                 <strong>Responsável: </strong>{{proposicao.responsavel.nome}}
	                 <br/>
	                 <strong>Posicionamento: </strong>{{proposicao.posicionamento.nome}}
	                 <br/>
	                 <strong>Comentários</strong>
	                 <div ng-repeat="comentario in proposicao.listaComentario | orderBy :'dataCriacao'" class="list-group-item clearfix">
	                 	{{comentario.dataCriacao | date: 'dd/MM/yyyy'}}: <pre style="font-family: inherit; font-size: inherit; background: inherit; border: inherit; padding: inherit; color: inherit; margin: inherit; line-height: inherit;">{{comentario.descricao}}</pre>
	                 </div>
				     <br/>
			         <strong>Encaminhamentos</strong>
			         <div ng-repeat="encaminhamento in proposicao.listaEncaminhamentoProposicao" class="list-group-item clearfix">
			         	 Data limite: {{encaminhamento.dataHoraLimite | date: 'dd/MM/yyyy'}}:
						 <pre style="font-family: inherit; font-size: inherit; background: inherit; border: inherit; padding: inherit; color: inherit; margin: inherit; line-height: inherit;">
						 	Detalhes: <br/>{{encaminhamento.detalhes}}
						 </pre>
			         </div>
				     <br/>
				     <strong>Tags</strong>
				     <div ng-repeat="tag in proposicao.tags" class="list-group-item clearfix">
						 <pre style="font-family: inherit; font-size: inherit; background: inherit; border: inherit; padding: inherit; color: inherit; margin: inherit; line-height: inherit;">
							 <br/>{{tag.tag}}
						 </pre>
				     </div>
				     <br/>
	                 <strong>Resultado da pauta da comissão atual: </strong>{{proposicao.pautaComissaoAtual.resultado}}
	                 <br/>
	             </p>
	         </div>
	     </div>
     </div>
 </div>
