 <!-- Tudo que for para o usuario imprimir deve ficar nesse HTML -->
 <div class="list-group">
     <div class="list-group-item clearfix">
	     <div class="row">
	         <div class="col-sm-12">
	             <h3 class="list-group-item-heading">{{proposicao.sigla}}</h3>
	             <p>{{proposicao.ementa}}
                 <br/>
                 <strong>Autor: </strong>{{proposicao.autor}}
                 <br/>
                 <strong>Origem: </strong>{{proposicao.origem}}
                 <br/>
                 <strong>Comissao: </strong>{{proposicao.comissao}}
                 <br/>
                 <strong>Ordem na Pauta: </strong>{{proposicao.pautaComissaoAtual.ordemPauta}} <span ng-show="!proposicao.pautaComissaoAtual.ordemPauta">Ordem não cadastrada.</span>
                 <br/>
                 <strong>Responsável: </strong>{{proposicao.responsavel.nome}} <span ng-show="!proposicao.responsavel">Nenhum responsável por essa proposição.</span>
                 <br/>
                 <strong>Posicionamento: </strong>{{proposicao.posicionamento.nome}} <span ng-show="!proposicao.posicionamento">Nenhum posicionamento definido.</span>
                 <br/>
                 <strong>Comentários</strong>
                 <ul>
                     <li ng-repeat="comentario in comentarios | orderBy :'dataCriacao'">
                        {{comentario.dataCriacao | date: 'dd/MM/yyyy'}}: <pre style="font-family: inherit; font-size: inherit; background: inherit; border: inherit; padding: inherit; color: inherit; margin: inherit; line-height: inherit;">{{comentario.descricao}}</pre>
                     </li>
                </ul>
                <strong>Resultado: </strong>{{selectedProposicao.resultadoASPAR}}
                <br/>
	             </p>
	         </div>
	     </div>
     </div>
 </div>