<link href="styles/css/theme-sislegis/reuniao-sislegis.css" rel="stylesheet" type="text/css" />
<div class="hidden-print">
    <div class="container">
        <div class="row">
            <div class="panel panel-warning">
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="form-inline pull-left mr-lg" role="form">
                            <label class="form-group text-danger">Informe a Data para a reunião:</label>
                            <div class="form-group">
                                <div class="input-group width-grid-2">
                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="reuniao.data" is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" close-text="Fechar" readonly/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </div>

                            </div>
                        </div>
                        <div class="pull-left divider-left pl-lg"><a data-toggle="modal" ng-click="buscarProposicoes()" ng-disabled="!reuniao.data" class="btn btn-success"><i class="fa fa-plus"></i> Buscar/Adicionar proposições</a>
                        </div>
                    </div>
                    <p class="fontsize-sm text-red mt-xs mb-0">Para montar a pauta da reunião, é preciso escolher a data em que ela ocorrerá</p>
                </div>

            </div>
        </div>
    </div>
    <div class="container" ng-show="listaReuniaoProposicoes.length > 0">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="clearfix">
                        <div class="col-sm-10 fontsize-sm">
                            <div class="row" role="form">
                                <div>
                                    <div class="col-sm-2">
                                        <label>Filtrar proposições:</label>
                                        <input type="text" class="form-control" ng-model="filtroGlobal.$" placeholder="Filtrar as proposições">
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Filtrar por casa legislativa:</label>
                                        <select ng-model="filtroOrigem.origem" ng-options="item.origem as item.origem for item in listaRPOrigem | unique:'origem'" class="form-control" ng-change="changeFiltroOrigem()">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Filtrar por comissão:</label>
                                        <select ng-model="filtroComissao.comissao" ng-options="item.comissao as item.comissao for item in listaRPComissao | filter:filtroOrigem | unique:'comissao'" ng-change="changeFiltroComissao()" class="form-control">
                                            <option value=""></option>
                                        </select>
                                    </div>
									<div class="col-sm-2">
                                        <label>Filtrar por favoritas:</label>
                                        <select ng-model="filtroFavorita" class="form-control">
                                            <option value=""></option>
                                            <option value="true">Favoritas</option>
                                            <option value="false">Não-favoritas</option>
                                        </select>
                                    </div>
									<div class="col-sm-3">
                                        <label>Filtrar por tags:</label>
                                        <div ng-dropdown-multiselect options="tagsProposicao" selected-model="filtroTags" extra-settings="{displayProp: 'text', idProp: 'text'}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-default" ng-show="reuniao.data" ng-show="listaReuniaoProposicoes.length > 0" ng-click="abrirModalRelatorio()">Imprimir listagem</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div ng-repeat="(comissao, value) in listaReuniaoProposicoes | filter:filtroGlobal | filter:filtroOrigem | filter:filtroComissao | filter:{favorita:filtroFavorita} | selectedTags:filtroTags |  groupBy :'comissao' |  orderBy : 'comissao' " class="list-group">

                        <div class="list-group-item active">
                            <h4 class="list-group-item-heading">{{comissao}}</h4>
                        </div>

                        <div ng-repeat="item in value | orderBy : 'seqOrdemPauta'" class="list-group-item clearfix" ng-click="setSelectedProposicao(item)">
                            <div class="clearfix">
                                <button type="button" class="close" ng-click="abrirModalRemoverProposicao(item); $event.stopPropagation()">
                                    <span aria-hidden="true">&times;</span> <span class="sr-only">Excluir</span>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <h3 class="list-group-item-heading">
                                    	<i class="fa fa-star-o" ng-show="!item.favorita" ng-click="item.favorita=true;save(item)"></i>
                                		<i class="fa fa-star" style="color:orange" ng-show="item.favorita" ng-click="item.favorita=false;save(item)"></i>
                                    	<a href="{{selectedProposicao.linkProposicao}}" target="_blank">{{item.sigla}}</a>
                                    </h3>
                                    <p>{{item.ementa}}
                                        <br/>
                                        <strong>Autor: </strong>{{item.autor}}
                                        <br/>
                                        <strong>Origem: </strong>{{item.origem}}
                                        <br/>
                                        <strong>Comissao: </strong>{{item.comissao}}
                                        <br/>
                                        <strong>Ordem na Pauta: </strong>{{item.seqOrdemPauta}}
                                        <br/>
                                        <div ng-show="item.origem == 'SENADO'"><a href="http://www.senado.leg.br/atividade/materia/detalhes.asp?p_cod_mate={{item.idProposicao}}#DIV_TRAMITACAO" target="_blank"><i class="fa fa-history"></i> Histórico de Tramitação</a></div>
                                        <div ng-show="item.origem == 'CAMARA'"><a href="http://www.camara.gov.br/proposicoesWeb/fichadetramitacao?idProposicao={{item.idProposicao}}#tramitacoes" target="_blank"><i class="fa fa-history"></i> Histórico de Tramitação</a></div>
                                    </p>
                                </div>
                                <div class="col-sm-5">
                                    <div class="panel panel-default">
                                        <div class="panel-heading cursor-pointer" ng-click="showAcoes = !showAcoes">
                                            Ações <i class="fa fa-sort"></i>
                                        </div>
                                        <div class="panel-body" collapse="showAcoes">
                                            <div class="clearfix">
                                                <div class="col-md-10">
                                                    <textarea class="form-control fontsize-sm" rows="3" maxlength="255" placeholder="Adicione um comentário" ng-model="item.comentarioTmp"></textarea>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-success btn-sm" ng-click="incluirComentario(item)"><i class="fa fa-check"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="divider-top clearfix">
                                                <div class="col-md-6">
                                                    <strong> <a ng-click="abrirModalComentarios(item)"><i class="fa fa-comment"></i> {{item.listaComentario.length || 0}} comentários</a></strong>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <strong><a ng-click="abrirModalEncaminhamentos(item)"> {{item.listaEncaminhamentoProposicao.length || 0}} encaminhamentos</a></strong>
                                                </div>
                                            </div>

                                            <div class="divider-top form-inline">
                                                <div class="form-group">
                                                    <label>Posicionamento:</label>
                                                    <input class="form-control" type="text" ng-model="item.posicionamento" placeholder="Procurar" typeahead="item as item.nome for item in getPosicionamentos($viewValue) | filter:$viewValue" typeahead-on-select="save(item)" class="form-control">
                                                </div>
                                            </div>
                                            <div class="divider-top form-inline">
                                                <div class="form-group">
                                                    <label>Responsável: </label>
                                                    <input type="text" ng-model="item.responsavel" placeholder="Procurar usuário" ng-required="true" typeahead="item as item.nome for item in getUsuarios($viewValue)" typeahead-on-select="save(item)" class="form-control">
                                                </div>
                                            </div>
                                            <div class="divider-top">
                                                <label>Tags: </label>
                                                <tags-input ng-model="item.tags" ng-class="form-group" on-tag-added="save(item)" on-tag-removed="save(item)" min-length="1" placeholder="Adicione uma tag">
                                                    <auto-complete source="loadTags($query)" ></auto-complete>
                                                </tags-input>
                                            </div>
                                            <div class="divider-top">
                                                <label>Proposições associadas: </label>
                                                
                                                <tags-input ng-model="item.proposicoesFilha" display-property="sigla" ng-class="form-group" 
                                                	on-tag-added="save(item)" on-tag-removed="save(item)" min-length="1" 
                                                		add-from-autocomplete-only="true" placeholder="Adicione uma proposição"
                                                		replaceSpacesWithDashes="false">
                                                    <auto-complete source="loadProposicoes($query)" ></auto-complete>
                                                </tags-input>
                                            </div>
											<div class="divider-top">
                                                <label>Elaborações Normativas associadas: </label>
                                                
                                                <tags-input ng-model="item.elaboracoesNormativas" display-property="nup" ng-class="form-group" 
                                                	on-tag-added="save(item)" on-tag-removed="save(item)" min-length="1"
                                                		add-from-autocomplete-only="true" placeholder="Procure pelo NUP"
                                                		replaceSpacesWithDashes="false">
                                                    <auto-complete source="loadElaboracoesNormativas($query)" ></auto-complete>
                                                </tags-input>
                                            </div>
											<div class="divider-top">
												<label>Resultado: </label>
                                                <div class="form-group">
                                                	<div class="col-md-10">
                                                    	<textarea class="form-control fontsize-sm" rows="3" placeholder="Adicione um resultado" ng-model="item.resultadoASPAR"></textarea>
                                        			</div>
                                        			<div class="col-md-2">
	                                                    <button type="button" class="btn btn-success btn-sm" ng-click="save(item)"><i class="fa fa-check"></i>
	                                                    </button>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- /item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Porção que vai ser renderizada quando o usuário clicar em 'imprimir' -->
<div class="visible-print-block" ng-include="'views/Reuniao/imprimir.html'"></div>
