<button type="button" class="btn btn-default" ng-show="reuniao.data" ng-show="listaReuniaoProposicoes.length > 0" ng-click="abrirModalRelatorio()">Imprimir</button>
<hr />
<div>
    <label class="control-label">Proposições</label>
    <input type="text" class="form-control" ng-model="filtroGlobal.$" placeholder="Filtrar as proposições" />
</div>

<label><input type="checkbox" ng-model="filtroPosicionamentoNaoDefido" ng-true-value="true" ng-change="checkPosicionamentoNaoDefido()" /> Posicionamento não definido?</label>
<div ng-hide="filtroPosicionamentoNaoDefido">
    <label class="control-label">Posicionamento</label>
    <input class="form-control" type="text" ng-model="filtroPosicionamento.posicionamento" ng-required="true" typeahead="item.nome as item.nome for item in getPosicionamentos($viewValue) | filter:$viewValue" class="form-control">
</div>

<label><input type="checkbox" ng-model="filtroResponsavelNaoDefinido" ng-true-value="true" ng-change="checkResponsavelNaoDefinido()" /> Responsável não definido?</label>
<div ng-hide="filtroResponsavelNaoDefinido">
    <label class="control-label">Responsável</label>
    <input type="text" ng-model="filtroResponsavel.responsavel" ng-required="true" typeahead="item.nome as item.nome for item in getUsuarios($viewValue)" class="form-control">
</div>
