<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Ministério da Justiça - SISLEGIS</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="lib/admin-lte/dist/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="lib/admin-lte/dist/css/skins/skin-blue.min.css" />
    <link rel="stylesheet" href="lib/components-font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="lib/ionicons/css/ionicons.min.css" />
    <link rel="stylesheet" href="styles/sislegis/css/sislegis.css" />
    <link href="lib/angularjs-toaster/toaster.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="lib/ng-tags-input/ng-tags-input.min.css" />
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="index.html" class="logo">
            <span class="logo-mini">
                <!-- <img src="img/brasao-mj.png" class="img-responsive" style="width: 45px;" /> -->
            </span>
            <span class="logo-lg">SISLEGIS</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Menu</span> </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav" ng-controller="NotificacaoController">
                    <li class="dropdown notifications-menu" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell-o"></i>
                            <span ng-show="listaNotificacaoTarefas && listaNotificacaoTarefas.length>0" class="label label-warning">{{(listaNotificacaoTarefas | filter:{visualizada:false}).length}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Você tem {{listaNotificacaoTarefas.length}} notificações</li>
                            <li>
                                <ul class="menu">
                                    <li ng-repeat="notificacao in listaNotificacaoTarefas | orderBy : 'notificacao.criadaEm' | limitTo: 5">
                                        <a href="#/Tarefas/edit/{{notificacao.identificacaoEntidade}}" ng-class="{true:'read', false:'unread', '':'unread'}[notificacao.visualizada]">{{notificacao.descricao}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#/Tarefas">ver todas</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span></div>
            </form>
            <ul class="sidebar-menu">
                <li class="header">MENU</li>
                <li class="active"><a href="#/Reuniaos/reuniaonova"><i class="fa fa-calendar"></i><span>Reuniões</span></a></li>
                <li><a href="#/Proposicao/consultar"><i class="fa fa-files-o"></i><span>Proposições</span></a></li>
                <li><a href="#/Posicionamentos"><i class="fa fa-file"></i><span>Posicionamentos</span></a></li>
                <li><a href="#/TipoEncaminhamentos"><i class="fa fa-reply"></i><span>Tipo de Encaminhamentos</span></a></li>
                <li><a href="#/AreaConsultadas"><i class="fa fa-search"></i><span>Áreas Consultadas</span></a></li>
                <li><a href="#/Orgaos"><i class="fa fa-building-o"></i><span>Órgão</span></a></li>
                <li><a href="#/GerenciarComissaoSeguida"><i class="fa fa-share"></i><span>Seguir Pautas</span></a></li>
                <li><a href="#/Usuarios"><i class="fa fa-user"></i><span>Usuário</span></a></li>
                <li><a href="#/Equipes"><i class="fa fa-group"></i><span>Equipe</span></a></li>
                <li><a href="#/ElaboracaoNormativa"><i class="fa fa-book"></i><span>Elaboração normativa</span></a></li>
                <li ng-controller="GlobalCtrl" ng-hide="auth.loggedIn"><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <div class="modal" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" style="z-index:9999;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Carregando ...</h4>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">100%</span>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
        <div id="main" ng-view></div>
    </div>
    <footer class="main-footer">
        <strong>Copyleft 2015 <a href="http://sislegis.mj.gov.br">SISLegis</a>.</strong>
    </footer>
</div>

<script src="http://localhost/auth/js/keycloak.js"></script>
<script src="scripts/app.js"></script>

<script type="text/javascript">
    var _urq = _urq || [];
    _urq.push(['initSite', '56b221a2-156a-42c0-92d8-5b0299ce19e2']);
    (function() {
        var ur = document.createElement('script'); ur.type = 'text/javascript'; ur.async = true;
        ur.src = ('https:' == document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js');
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ur, s);
    })();
</script>

</body>

</html>
