<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Ministério da Justiça - SISLEGIS</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Theme style sislegis -->
    <link href="styles/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="styles/css/theme-sislegis/sislegis.css" rel="stylesheet" type="text/css" />
    <link href="styles/css/theme-sislegis/core.css" rel="stylesheet" media="screen">
    <link href="lib/angularjs-toaster/toaster.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="lib/ng-tags-input/ng-tags-input.min.css" />
</head>

<body class="skin-blue-mj">

    <div id="spinner" style="display:none;">
        <img src="img/ajax-loader.gif" class="ajax-loader" />
    </div>

    <div class="header" id="cabecalho">
        <div class="container">
            <div class="row">
                <div class="logo clearfix">
                    <a href="#" class="pull-left">
                        <h1>Ministério da Justiça</h1>
                    </a>
                    <a href="#" class="pull-right ml-xs">
                        <h2 title="Sistema de gerenciamento de proposições"> - SISLEGIS</h2>
                    </a>
                </div>
                <div class="navbar-top navbar-static-top clearfix" role="navigation">
                    <div id="menu-principal" class="navbar navbar-default" role="navigation">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Navegação:</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle">Administrar <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" class="dropdown-header"><i class="fa fa-users"></i> Reuniões:</li>
                                        <li><a href="#/Reuniaos/reuniaonova">Reuniões</a>
                                        </li>
                                        <li><a href="#/Proposicao/consultar">Proposições</a>
                                        </li>
                                        <li><a href="#/Posicionamentos">Posicionamentos</a>
                                        </li>
                                        <li><a href="#/Encaminhamentos">Encaminhamentos</a>
                                        </li>
                                        <li><a href="#/AreaConsultadas">Áreas Consultadas</a>
                                        </li>
                                        <li><a href="#/Orgaos">Órgão</a>
                                        </li>
                                        <li><a href="#/StatusSidof">Status SIDOF</a>
                                        </li>
                                        <li><a href="#/GerenciarComissaoSeguida">Seguir Pautas</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li role="presentation" class="dropdown-header"><i class="fa fa-user"></i> Usuários:</li>
                                        <li><a href="#/Usuarios">Usuário</a>
                                        </li>
                                        <li><a href="#/Equipes">Equipe</a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle">Elaboração Normativa Preliminar<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                    	<li role="presentation" class="dropdown-header"><i class="fa fa-file-text-o"></i> Proposições:</li>
                                        <li><a href="#/ElaboracaoNormativa">Elaboração Normativa</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                        <!-- /.navbar-collapse -->

                    </div>
                    <!-- /menu principal -->
                    <div class="navbar-right">
                        <div ng-controller="GlobalCtrl">
                            <a ng-click="logout()" ng-hide="auth.loggedIn">logout</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu" ng-controller="TarefaController">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-warning"></i>
                                    <span class="label label-danger">{{(listaTarefas | filter:{finalizada:false}).length}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">{{(listaTarefas | filter:{finalizada:false}).length}} tarefa(s) pendentes</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li ng-repeat="tarefa in listaTarefas | filter: {finalizada:false} | orderBy : 'encaminhamentoProposicao.dataHoraLimite' | limitTo: 5">
                                                <a href="#/Tarefas/edit/{{tarefa.id}}">
                                                    <i class="ion ion-ios7-people danger"></i> {{tarefa.encaminhamentoProposicao.encaminhamento.nome}} - {{tarefa.encaminhamentoProposicao.dataHoraLimite | date: 'dd/MM/yyyy'}}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#/Tarefas">Ver todos</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /navbar superior -->
            </div>
        </div>
    </div>
    <!-- /header -->

    <div class="container-fluid mt-md">
        <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
        <div id="main" ng-view></div>
    </div>

    <script src="scripts/js/libraries/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="scripts/js/libraries/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <script src="scripts/js/libraries/bootstrap.min.js" type="text/javascript"></script>
    <script src="scripts/js/theme/core.js" type="text/javascript"></script>

    <script src="lib/modernizr/modernizr.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/angular-i18n/angular-locale_pt-br.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/es5-shim/es5-sham.min.js"></script>
    <script src="lib/angular-file-upload/angular-file-upload.min.js"></script>
    <script src="lib/angular-ui-utils/ui-utils.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angularjs-toaster/toaster.js"></script>
    <script src="lib/angular-filter/dist/angular-filter.min.js"></script>
    <script src="lib/checklist-model/checklist-model.js"></script>
    <script src="lib/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>
    <script src="lib/lodash/dist/lodash.js"></script>
    <script src="lib/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>

    <script src="http://localhost:8080/auth/js/keycloak.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/offcanvas.js"></script>
    <script src="scripts/directives/datepicker.js"></script>
    <script src="scripts/directives/timepicker.js"></script>
    <script src="scripts/directives/datetimepicker.js"></script>
    <script src="scripts/filters/startFromFilter.js"></script>
    <script src="scripts/filters/genericSearchFilter.js"></script>
    <script src="scripts/filters/tagsFilter.js"></script>

    <script src="lib/ng-tags-input/ng-tags-input.min.js"></script>
 	<script src="scripts/services/AgendaComissaoFactory.js"></script>
    <script src="scripts/controllers/gerenciarReuniaoController.js"></script>
    <script src="scripts/controllers/modalBuscarProposicaoController.js"></script>
    <script src="scripts/controllers/modalAddProposicaoController.js"></script>
    <script src="scripts/controllers/modalComentariosController.js"></script>
    <script src="scripts/controllers/modalEncaminhamentosController.js"></script>
    <script src="scripts/controllers/modalRelatorioReuniaoController.js"></script>
    <script src="scripts/controllers/modalRelatorioProposicaoController.js"></script>
    <script src="scripts/services/ComentarioFactory.js"></script>
    <script src="scripts/services/ComentarioService.js"></script>
    <script src="scripts/services/EncaminhamentoProposicaoFactory.js"></script>
    <script src="scripts/services/ComissaoFactory.js"></script>
    <script src="scripts/services/ProposicaoFactory.js"></script>
    <script src="scripts/services/ReuniaoFactory.js"></script>
    <script src="scripts/services/ElaboracaoNormativaFactory.js"></script>
    <script src="scripts/services/TarefaFactory.js"></script>
   
    <script src="scripts/services/HttpInterceptor.js"></script>

    <!-- Posicionamento -->
    <script src="scripts/controllers/newPosicionamentoController.js"></script>
    <script src="scripts/controllers/searchPosicionamentoController.js"></script>
    <script src="scripts/controllers/editPosicionamentoController.js"></script>
    <script src="scripts/services/PosicionamentoFactory.js"></script>

    <!-- Encaminhamento -->
    <script src="scripts/services/EncaminhamentoFactory.js"></script>
    <script src="scripts/controllers/newEncaminhamentoController.js"></script>
    <script src="scripts/controllers/searchEncaminhamentoController.js"></script>
    <script src="scripts/controllers/editEncaminhamentoController.js"></script>

    <!-- Equipe -->
    <script src="scripts/services/EquipeFactory.js"></script>
    <script src="scripts/controllers/searchEquipeController.js"></script>
    <script src="scripts/controllers/equipeController.js"></script>

    <!-- Usuario -->
    <script src="scripts/services/UsuarioFactory.js"></script>
    <script src="scripts/controllers/newUsuarioController.js"></script>
    <script src="scripts/controllers/searchUsuarioController.js"></script>
    <script src="scripts/controllers/editUsuarioController.js"></script>

    <!-- Reuniao Proposição -->
    <script src="scripts/services/ReuniaoProposicaoFactory.js"></script>

    <!-- Tag -->
    <script src="scripts/services/TagFactory.js"></script>

    <!-- Elaboração Normativa -->
    <script src="scripts/controllers/searchElaboracaoNormativaController.js"></script>
    <script src="scripts/controllers/elaboracaoNormativaController.js"></script>

    <!-- Status Sidof -->
    <script src="scripts/controllers/searchStatusSidofController.js"></script>
    <script src="scripts/controllers/newStatusSidofController.js"></script>
    <script src="scripts/controllers/editStatusSidofController.js"></script>

    <!-- Upload -->
    <script src="scripts/controllers/uploadController.js"></script>

    <!-- Tarefa -->
    <script src="scripts/controllers/tarefaController.js"></script>

    <!-- OrigemElaboracaoNormativa -->
    <script src="scripts/services/OrigemElaboracaoNormativaFactory.js"></script>
    <script src="scripts/controllers/newOrigemElaboracaoNormativaController.js"></script>
    <script src="scripts/controllers/searchOrigemElaboracaoNormativaController.js"></script>

    <!-- AreaConsultada -->
    <script src="scripts/services/AreaConsultadaFactory.js"></script>
    <script src="scripts/controllers/newAreaConsultadaController.js"></script>
    <script src="scripts/controllers/searchAreaConsultadaController.js"></script>
    <script src="scripts/controllers/editAreaConsultadaController.js"></script>

    <!-- Orgao -->
    <script src="scripts/services/OrgaoFactory.js"></script>
    <script src="scripts/controllers/newOrgaoController.js"></script>
    <script src="scripts/controllers/searchOrgaoController.js"></script>
    <script src="scripts/controllers/editOrgaoController.js"></script>
    
    <!-- AgendaSeguida -->
    <script src="scripts/controllers/SearchAgendaComissaoController.js"></script>

    <script src="scripts/services/ElaboracaoNormativaConsultaFactory.js"></script>

    <script src="scripts/services/StatusSidofFactory.js"></script>

    <script src="scripts/services/locationParser.js"></script>

</body>

</html>
