<section class="content-header">
    <h1>Equipe</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border" ng-switch on="$location.path().indexOf('/Equipes/new') > -1">
                    <h3 class="box-title" ng-switch-when="true">Adicionar</h3>
                    <h3 class="box-title" ng-switch-when="false">Editar</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form id="EquipeForm" name="EquipeForm" role="form">
                    <div ng-show="displayError" class="alert alert-danger">
                        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
                    </div>
                    <div class="box-body">
                        <div class="form-group" ng-class="{'has-error': EquipeForm.nome.$invalid}">
                            <label for="nome">Nome:</label>
                            <input id="nome" name="nome" type="text" class="form-control" ng-model="equipe.nome" placeholder="Escreve o nome da equipe" ng-required="true" />
                        </div>

                        <div class="form-group" ng-class="{'has-error': EquipeForm.nome.$invalid}">
                            <label for="nome">Usuários:</label>
                            <select ng-model="usuarioSelecionado" ng-options="usuario.nome for usuario in usuariosList | orderBy:'nome' | removerIncluidos : equipe.listaEquipeUsuario"></select>
                            <button class="btn btn-default" ng-click="adicionarUsuario()">Adicionar</button>
                        </div>


                        <div class="col-sm-10">
                            <table class="table" ng-show="equipe.listaEquipeUsuario.length">
                                <tr>
                                    <td>Nome</td>
                                    <td>Coordenador</td>
                                    <td>Ações</td>
                                </tr>
                                <tr ng-repeat="equipeUsuario in equipe.listaEquipeUsuario | orderBy:'usuario.nome'">
                                    <td>{{equipeUsuario.usuario.nome}}</td>
                                    <td><input type="checkbox" ng-model="equipeUsuario.isCoordenador"></td>
                                    <td><button type="button" class="btn btn-danger" ng-click="removerUsuario(equipeUsuario)"><span class="glyphicon glyphicon-trash"></span> Excluir Usuário</button></td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button id="saveEquipe" name="saveEquipe" class="btn btn-primary" ng-disabled="EquipeForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Salvar</button>
                        <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancelar</button>
                        <button id="deleteEquipe" name="deleteEquipe" class="btn btn-danger" ng-show="equipe.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>