<!-- Modal buscar proposição -->
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="ok()">
		<span aria-hidden="true">&times;</span> <span class="sr-only">Fechar</span>
	</button>
	<h4 class="modal-title" id="myModalLabel">Buscar / Adicionar proposições</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-sm-12">
			<form id="BuscarProposicaoForm" name="BuscarProposicaoForm" role="form">
				<div class="form-inline" role="form">
					<div class="input-group">
						<input type="date" class="form-control" ng-model="dataReuniao" required>
						<!-- 					<span class="input-group-addon"><i class="fa fa-calendar"></i> </span> -->
					</div>
					<div class="form-group">
						<div class="input-group">
							<select ng-change="selectOrigemComissoes()" ng-model="origem" ng-options="origem.displayName for origem in origens" class="form-control" required></select>
						</div>
					</div>
					<!-- 				<div class="form-group"> -->
					<!-- 					<div class="input-group"> -->
					<!-- 						<input class="form-control" type="text" placeholder="Texto, título ou nome"> -->
					<!-- 					</div> -->
					<!-- 				</div> -->
					<div class="form-group">
						<div class="input-group">
							<select ng-model="comissao" ng-options="comissao.sigla for comissao in comissoes" class="form-control" required></select>
						</div>
					</div>
					<button type="submit" class="btn btn-default" ng-click="buscarProposicao()">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row mt-md">
		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="form-group">
						<div class="input-group">
							Proposições <input ng-model="buscaPalavraChave" placeholder="Filtrar por palavra chave" style="margin-left: 15px">
						</div>
					</div>
				</div>
				<div class="line-9 rol-vert">
					<div class="list-group" ng-model="proposicao" ng-repeat="proposicao in proposicoes | filter:buscaPalavraChave">

						<a href="javascript:;" class="list-group-item" ng-click="detalharProposicao(proposicao.idProposicao)">
							<button type="button" class="close">
								<span aria-hidden="true">&times;</span> <span class="sr-only">Excluir</span>
							</button>
							<h4 class="list-group-item-heading">{{proposicao.sigla}}</h4>
							<div class="list-group-item-text clearfix">
								<p>{{proposicao.ementa}}</p>
								<div class="pull-right">
									<button type="button" class="btn btn-success btn-xs" title="Adicionar proposição">
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
						</a>

					</div>
				</div>
			</div>

			<!-- /item -->
		</div>
		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					Detalhamento
					<button type="button" class="btn btn-success btn-xs pull-right" title="Adicionar proposição">
						<i class="fa fa-plus"></i>
					</button>
				</div>

				<div class="panel-body rol-vert line-9">
					<div class="fontsize-sm">

						<h3>{{detalheProposicao.sigla}}</h3>
						<p class="divider-top">{{detalheProposicao.ementa}}</p>
						<p class="fontsize-sm">
							<strong>Autor:  </strong>{{detalheProposicao.autor}}
						</p>
						<p class="fontsize-sm">
							<strong>Situação:  </strong>{{detalheProposicao.situacao}}
						</p>
					</div>
				</div>
			</div>
			<!-- /item -->
		</div>
		<div class="col-sm-2">
			<ul class="list-group fontsize-sm">
				<li class="list-group-item">Selecionados:</li>
				<li class="list-group-item">
					<button type="button" class="close">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Excluir</span>
					</button> 0000/000 - 0000
				</li>

				<li class="list-group-item">
					<button type="button" class="close">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Excluir</span>
					</button> 0000/000 - 0000
				</li>


			</ul>
		</div>
	</div>
</div>
<!-- /Modal  buscar proposição -->

