<section class="content-header">
    <h1>Área</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listagem</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6">
                                <a class="btn btn-primary" href="#/AreaDeMerito/new"><span class="glyphicon glyphicon-plus-sign"></span> Adicionar</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_filter">
                                    <label>Busca:&nbsp;
                                        <input type="search" class="form-control input-sm" placeholder="" ng-model="search.nome" placeholder="Escreve o nome da área consultada">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Contato</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                                            <td><a href="#/AreaDeMerito/edit/{{result.id}}">{{result.nome}}</a></td>
                                            <td> {{result.contato.nome}} - {{result.contato.email}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination pagination-centered">
                                        <li ng-class="{disabled:currentPage == 0}"><a id="prev" href ng-click="previous()">«</a></li>
                                        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)"><a href ng-bind="n + 1">1</a></li>
                                        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}"><a id="next" href ng-click="next()">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>