<!-- Modal Comentários -->
<div class="modal-header">

    <h4 class="modal-title" id="myModalLabel">Notas Técnicas</h4>
</div>
<div class="modal-body" ng-init="currTab='nota'">
    <div class="col-lg-12">
        <form role="form" ng-show="notaForm==true">

            <div class="form-horizontal" role="form">
                <div class="box-footer clearfix">
                    <div class="form-group">
                        <label for="">Subir novo documento </label> <span ng-show="uploading==true"><i class="fa fa-refresh fa-spin"></i>  Subindo arquivo...</span>
                        <input type="file" file-model='myFile' name="file" id="form-group">
                        <p class="help-block">Selecione o arquivo do documento.</p>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div ng-hide="notaForm==true" style="min-height:150px;">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{'active':currTab=='nota'}"><a ng-click="currTab='nota'">Nota Técnica</a></li>
            <li role="presentation" ng-class="{'active':currTab=='brief'}"><a ng-click="currTab='brief'">Briefing</a></li>
            <li role="presentation" ng-class="{'active':currTab=='emenda'}"><a ng-click="currTab='emenda'">Emenda</a></li>
        </ul>


        <div class="box-body no-padding" ng-show="currTab=='nota'">

            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Arquivo</th>
                            <th>Enviada por</th>
                            <th>Criada em</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="nota in proposicao.listaNotas">

                            <td class="mailbox-subject"><a ng-click="openFile(doc)">{{nota.documento.nome}}</a>
                            </td>
                            <td class="mailbox-name">{{nota.usuario.nome}}</a>
                            </td>
                            <td class="mailbox-date">{{nota.dataCriacao| date:'dd/MM HH:mm'}}</td>
                            <td class="mailbox-date" ng-click="removeDoc(nota)"><i class="fa fa-remove"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="box-body no-padding" ng-show="currTab=='brief'">

            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Arquivo</th>
                            <th>Enviada por</th>
                            <th>Criada em</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="doc in proposicao.listaBriefings">


                            <td class="mailbox-subject"><a ng-click="openFile(doc)">{{doc.documento.nome}}</a>
                            </td>
                            <td class="mailbox-name">{{doc.usuario.nome}}</a>
                            </td>
                            <td class="mailbox-date">{{doc.dataCriacao| date:'dd/MM HH:mm'}}</td>
                            <td class="mailbox-date" ng-click="removeDoc(doc)"><i class="fa fa-remove"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="box-body no-padding" ng-show="currTab=='emenda'">

            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Arquivo</th>
                            <th>Enviada por</th>
                            <th>Criada em</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="doc in proposicao.listaEmendas">


                            <td class="mailbox-subject"><a ng-click="openFile(doc)">{{doc.documento.nome}}</a>
                            </td>
                            <td class="mailbox-name">{{doc.usuario.nome}}</a>
                            </td>
                            <td class="mailbox-date">{{doc.dataCriacao| date:'dd/MM HH:mm'}}</td>
                            <td class="mailbox-date" ng-click="removeDoc(doc)"><i class="fa fa-remove"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <form role="form" ng-show="notaForm==true">

            <div class="form-horizontal" role="form">

                <div class="box-footer clearfix">
                    <div class="form-group">
                        <label for="">Subir briefing </label> <span ng-show="uploading==true"><i class="fa fa-refresh fa-spin"></i>  Subindo arquivo...</span>
                        <input type="file" file-model='myFile' name="file" id="form-group">
                        <p class="help-block">Selecione o arquivo da nota técnica.</p>
                    </div>
                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default" ng-click="cancel()">Fechar</button>
        <button type="submit" class="btn btn-info pull-right" ng-click="novaNota()" ng-hide="notaForm==true">Criar novo documento</button>
        <button type="submit" class="btn btn-success pull-right" ng-click="uploadfile()" ng-show="notaForm==true">Enviar</button>

    </div>