<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Marcar para atenção especial da SAL</h4>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <div class="form-horizontal" role="form">
            <div ng-show="displayError" class="alert alert-danger">
                <strong>Erro!</strong> Houve um erro inesperado, por favor tente novamente.
            </div>
        </div>
        <div class="form-group">
            <label for="detalhes">Comentário:</label>
            <textarea id="detalhes" class="form-control" rows="3" ng-model="encaminhamentoProposicao.detalhes"></textarea>
        </div>

        <div class="form-group">

            <label for="prazo" class="col-sm-3 control-label">Data e Hora Limite:</label>
            <div class="col-sm-5">
                <input id="prazo" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="encaminhamentoProposicao.dataHoraLimite"
                is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" close-text="Close"
                readonly/>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-default pull-right" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </div>
            <div class="col-sm-3">
                <timepicker ng-model="encaminhamentoProposicao.dataHoraLimite" show-meridian="false"></timepicker>
            </div>


        </div>


    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn bg-olive-active " ng-click="save()">Marcar</button>
</div>