<!-- Modal Comentários -->
<div class="modal-header">

    <h4 class="modal-title" id="myModalLabel">Notas Técnicas</h4>
</div>
<div class="modal-body">
    <div class="box-body no-padding">
        <form role="form" ng-show="notaForm==true">

            <div class="form-horizontal" role="form">

                <div class="box-footer clearfix">
                    <div class="form-group">
                        <label for="">Subir nota técnica </label> <span ng-show="uploading==true"><i class="fa fa-refresh fa-spin"></i>  Subindo arquivo...</span>
                        <input type="file" file-model='myFile' name="file" id="form-group">
                        <p class="help-block">Selecione o arquivo da nota técnica.</p>
                    </div>
                </div>
            </div>

        </form>
        <div class="table-responsive mailbox-messages" ng-hide="notaForm==true">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Arquivo</th>
                        <th>Enviada por</th>
                        <th>Criada em</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="nota in proposicao.listaNotas">


                        <td class="mailbox-subject"><a ng-click="openFile(nota)">{{nota.documento.nome}}</a>
                        </td>
                        <td class="mailbox-name">{{nota.usuario.nome}}</a>
                        </td>
                        <td class="mailbox-date">{{nota.dataCriacao| date:'dd/MM HH:mm'}}</td>
                        <td class="mailbox-date" ng-click="removeNota(nota)"><i class="fa fa-remove"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-default" ng-click="cancel()">Fechar</button>
    <button type="submit" class="btn btn-info pull-right" ng-click="novaNota()" ng-hide="notaForm==true">Criar nova nota</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="uploadfile()" ng-show="notaForm==true">Salvar</button>

</div>