<!-- Modal Comentários -->
<div class="modal-header">

    <h4 class="modal-title" id="myModalLabel">Notas Técnicas</h4>
</div>
<div class="modal-body">
    <div class="box-body no-padding">
        <form role="form" ng-show="notaForm==true">

            <div class="form-horizontal" role="form">
                <div>
                    <label for="link">Insira a link para a nota:</label>
                    <input id="link" type="url" ng-model="nota.url_arquivo" placeholder="http://..." ng-required="true" class="form-control">

                </div>


            </div>

        </form>
        <div class="table-responsive mailbox-messages" ng-hide="notaForm==true">
            <table class="table table-hover table-striped">
                <tbody>
                    <tr ng-repeat="nota in proposicao.listaNotas" ng-click="editNota(nota)">

                        <td class="mailbox-name">{{nota.usuario.nome}}</a>
                        </td>
                        <td class="mailbox-subject"><a href="{{nota.url_arquivo}}" target="_BLANK">{{nota.url_arquivo}}</a>
                        </td>
                        <td class="mailbox-date">{{nota.dataCriacao| date:'dd/MM HH:mm'}}</td>
                        <td class="mailbox-date" ng-click="removeNota(nota)"><i class="fa fa-remove"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-default" ng-click="cancel()">Fechar</button>
    <button type="submit" class="btn btn-info pull-right" ng-click="novaNota()" ng-hide="notaForm==true">Criar nova nota</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="save()" ng-show="notaForm==true">Salvar</button>

</div>