<header ng-switch on="$location.path().indexOf('/Posicionamentos/new') > -1">
    <h3 ng-switch-when="true">Adicionar novo Posicionamento</h3>
    <h3 ng-switch-when="false">Visualizar ou editar um Posicionamento</h3>
</header>
<form id="PosicionamentoForm" name="PosicionamentoForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': PosicionamentoForm.nome.$invalid}">
        <label for="nome" class="col-sm-2 control-label">Nome</label>
        <div id="nomeControls" class="col-sm-10">
            <input id="nome" name="nome" type="text" class="form-control" ng-model="posicionamento.nome" placeholder="Escreve o nome do Posicionamento" ng-required="true"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="savePosicionamento" name="savePosicionamento" class="btn btn-primary" ng-disabled="isClean() || PosicionamentoForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Salvar</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancelar</button>
            <button id="deletePosicionamento" name="deletePosicionamento" class="btn btn-danger" ng-show="posicionamento.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
        </div>
    </div>
</form>