<header>
    <h3>Elaboração Normativa</h3>
</header>

   <div id="tabs">
        <ul class="tab">
            <li class="tab" ng-repeat="tab in tabs" 
                ng-class="{active:isActiveTab(tab.url)}" 
                ng-click="onClickTab(tab)">{{tab.title}}</li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    
    <script type="text/ng-template" id="dadosPreliminares.html">
		<h5>Dados preliminares</h5>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Data do Registro:</label>
					<p class="input-group">
 						<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="elaboracaoNormativa.dataRegistro" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close"/>
              				<span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				    		</span>
				    </p>
				</div>	
            </div>
        </div>
        <div class="row divider-top">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Tipo:</label>
					<select ng-model="elaboracaoNormativa.tipo" ng-options="tipo.descricao for tipo in tipos" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Identificação</label>
                    <input type="text" class="form-control" id="" placeholder="Identificação">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Autor</label>
                    <input type="text" class="form-control" id="" placeholder="Autor">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Co-Autor</label>
                    <input type="text" class="form-control" id="" placeholder="Co-Autor">
                </div>
            </div>
        </div>
        <div class="row divider-top">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Origem:</label>
                    <input type="text" class="form-control" id="" placeholder="Origem">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Ementa:</label>
                    <input type="text" class="form-control" id="" placeholder="Ementa">
                </div>
            </div>
        </div>
	</script>
	
	<script type="text/ng-template" id="dadosAnaliseDistribuicao.html">
	 <h5>Dados de análise/Distribuição</h5>
        <div class="row">

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Data de Distribuição:</label>
                            <input type="text" class="form-control" id="" placeholder="00/00/0000">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Distribuição:</label>
                            <input type="text" class="form-control" id="" placeholder="00/00/0000">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Parecerista:</label>
                            <input type="text" class="form-control" id="" placeholder="00/00/0000">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Responsável pelas equipes:</label>
                            <input type="text" class="form-control" id="" placeholder="00/00/0000">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Comentários:</label>
                            <input type="text" class="form-control" id="" placeholder="00/00/0000">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="form-inline">

                            <div class="form-group">
                                <label for="">Área consultada:</label>
                                <input type="text" class="form-control" id="" placeholder="00/00/0000">
                            </div>
                            <div class="form-group">
                                <label for="">Anexo:</label>
                                <button type="button" class="btn btn-default btn-sm form-control">Selecionar</button>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Adicionar</button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Excluir</span>
                            </button>
                            <h5>Lorem ipsum dolor sit amet</h5>
                            <p>consectetur adipiscing elit. Nunc elit libero, facilisis nec tincidunt sed, scelerisque eu odio
                                <p>
                        </li>

                        <li class="list-group-item">
                            <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Excluir</span>
                            </button>
                            <h5>Lorem ipsum dolor sit amet</h5>
                            <p>consectetur adipiscing elit. Nunc elit libero, facilisis nec tincidunt sed, scelerisque eu odio
                                <p>
                        </li>

                        <li class="list-group-item">
                            <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Excluir</span>
                            </button>
                            <h5>Lorem ipsum dolor sit amet</h5>
                            <p>consectetur adipiscing elit. Nunc elit libero, facilisis nec tincidunt sed, scelerisque eu odio
                                <p>
                        </li>

                        <li class="list-group-item">
                            <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Excluir</span>
                            </button>
                            <h5>Lorem ipsum dolor sit amet</h5>
                            <p>consectetur adipiscing elit. Nunc elit libero, facilisis nec tincidunt sed, scelerisque eu odio
                                <p>
                        </li>

                    </ul>
                </div>
            </div>

        </div>

	</script>
	
	<script type="text/ng-template" id="manifestacao.html">
     <h5>Manifestação</h5>
        <div class="row divider-top">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Data Nota SAL:</label>
                    <input type="text" class="form-control" id="" placeholder="00/00/0000">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Norma Gerada:</label>
                    <input type="text" class="form-control" id="" placeholder="Norma Gerada">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Manifestação:</label>
                    <input type="text" class="form-control" id="" placeholder="Manifestação">
                </div>
            </div>
        </div>
        <div class="row divider-top">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Tags:</label>
                    <input type="text" class="form-control" id="" placeholder="Tags">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Comentário:</label>
                    <input type="text" class="form-control" id="" placeholder="Comentário">
                </div>
            </div>
            
        </div>
	</script>
     <div class="text-right divider-top">
         <button type="button" class="btn btn-primary">Salvar</button>
     </div>






 