<div class="form-horizontal">
    <h3>Buscar Proposição</h3>
    <div class="form-group">
    	<ul>
			<li>Data:</li>
			<li>
				 <input type="date" id="idData" name="dataReuniao" ng-model="dataReuniao" placeholder="dd/mm/yyyy"  />
			</li>    	
    		<li>Origem:</li>
    		<li>
				 <select ng-change="selectOrigemComissoes()" ng-model="origem" ng-options="origem.displayName for origem in origens">
		            <option value="''">Origem</option>
		        </select>    		
    		</li>
			<li>Comissões:</li>
			<li>
				 <select ng-model="origem" ng-options="comissao.sigla for comissao in comissoes"></select>
			</li>
		</ul>		         
        
        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Buscar" name="Buscar" class="btn btn-primary" ng-click="buscarProposicao()"><span class="glyphicon glyphicon-search"></span> Buscar</a>
            </div>
        </div>        
        
    </div>
</div>
<hr/>
<div>
    <form id="ComissaoSearch" class="form-horizontal">
        

    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Ementa</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in proposicoes">
                    <td><a href="#/Comissaos/edit/{{result.id}}">{{result.ementa}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>