<style>
    .onlyclosed {
        display: none;
        margin-top: 5px;
    }
    
    .collapsed-box>.box-header>.row>div.onlyclosed {
        display: block;
    }
</style>
<div class="content">
    <div class="pull-right" ng-if="configConsulta.botoes=='GENERICO'">


        <button type="button" class="btn btn-primary btn-sm" ng-click="buscarProposicoes()" class="btn btn-success"><i class="fa fa-plus"></i> Buscar/Adicionar proposições</a>

    </div>
    <h3>Consultar Proposições</h3>
    <div class="row">
        <div class="panel panel-default" style="background-color:transparent;">
            <div class="panel-heading">
                <div class="clearfix">
                    <form action="{{getReportURL()}}" ng-submit="token=getAuthorization()" target="_relatorio" method="POST">
                        <div class="box-tools pull-right">
                            <button type="submit" class="btn btn-default" title="Relatório"> <i class="fa  fa-file-word-o"></i> Gerar Relatório
                            </button>
                        </div>

                        <div class="row" role="form">

                            <div class="col-sm-2">
                                <label>Por tipo/número/ano:</label>
                                <input name="sigla" type="text" class="form-control" ng-model="filtro.sigla" placeholder="Filtrar pelo tipo/número/ano" ng-model-options="{ debounce: 1000 }">
                            </div>
                            <div class="col-sm-3">
                                <label>Pela ementa:</label>
                                <input name="ementa" type="text" class="form-control" ng-model="filtro.ementa" placeholder="Filtrar pela ementa">
                            </div>
                            <div class="col-sm-3">
                                <label>Por autor:</label>
                                <input name="autor" type="text" class="form-control" ng-model="filtro.autor" placeholder="Filtrar por autor">
                            </div>
                            <div class="col-sm-2">
                                <label>Por casa legislativa:</label>
                                <select name="origem" ng-model="filtro.origem" class="form-control">
                                    <option value=""></option>
                                    <option value="CAMARA">CAMARA</option>
                                    <option value="SENADO">SENADO</option>
                                </select>
                            </div>
                            <div class="col-sm-2">

                            </div>

                        </div>
                        <div class="row" role="form">
                            <div class="col-sm-2">
                                <label>Por prioritárias:</label>
                                <select name="isFavorita" ng-model="filtro.isFavorita" class="form-control">
                                    <option value=""></option>
                                    <option value="true">Prioritárias</option>
                                    <option value="false">Não-prioritárias</option>
                                </select>
                            </div>
                            <div class="col-sm-2" ng-if="configConsulta.botoes=='GENERICO'">
                                <label>Pelo estado na SAL:</label>
                                <select name="estado" ng-model="filtro.estado" class="form-control" ng-change='filtrarConsulta()'>
                                    <option value=""></option>
                                    <option value="FORADEPAUTA">Fora de competência</option>
                                    <option value="EMANALISE">Em análise pelos técnicos</option>
                                    <option value="ANALISADA">Em revisão pelo diretor</option>
                                    <option value="ADESPACHAR">A despachar pelo secretário</option>
                                    <option value="ADESPACHAR_PRESENCA">Em despacho presencial</option>
                                    <option value="DESPACHADA">Despachada</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label>Por equipe:</label>
                                <select name="idEquipe" ng-model="filtro.equipe" class="form-control" ng-change='filtrarConsulta()' ng-options="item as item.nome for item in equipes track by item.id">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label>Por macrotema:</label>
                                <select name="macrotema" ng-model="filtro.macrotema" class="form-control" ng-change='filtrarConsulta()' ng-options="item as item.tag for item in macrotemas|orderBy:'tag'">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label for="pautadas">
                                        <input type="checkbox" id="pautadas" name="somentePautadas" ng-model="filtro.somentePautadas" ng-change='filtrarConsulta()'
                                        />Somente Pautadas
                                    </label>
                                </div>




                            </div>
                            <input type="hidden" name="a" value="{{token}}">



                        </div>
                    </form>
                </div>

            </div>

            <div class="panel-body">

                <div infinite-scroll='consultarProposicoes()' infinite-scroll-disabled='infiniteScroll.busy'>
                    <div class="box box-info collapsed-box" ng-repeat="item in proposicoes track by item.idProposicao | orderBy : ['origem','comissao']">
                        <div class="box-header" title="{{item.sigla}}">

                            <div class="box-tools pull-right" ng-show="inactivateSpinner==true && item===savingItem">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>

                            <div class="box-tools pull-right" ng-if="configConsulta.botoes=='GENERICO'" ng-hide="inactivateSpinner==true && item===savingItem">

                                <button ng-if="Auth.isAspar(true) && item.estado=='FORADEPAUTA'" type="button" class="btn btn-default btn-sm" title="Marcar análise SAL"
                                ng-click="setaEstado(item,'EMANALISE')"> <i class="fa fa-mail-forward"></i> Marcar para análise da SAL
                                </button>
                                <button ng-if="Auth.isAspar(true) && item.estado=='DESPACHADA'" type="button" class="btn btn-default btn-sm" title="Fazer nova avaliação"
                                ng-click="setaEstado(item,'EMANALISE')">
                                    <i class="fa fa-mail-forward"></i> Fazer nova avaliação
                                </button>
                                <button ng-if="Auth.isEquipe(true) && item.estado=='EMANALISE'" type="button" class="btn btn-default btn-sm" title="Enviar para revisão"
                                ng-click="setaEstado(item,'ANALISADA')">
                                    <i class="fa fa-check-circle-o"></i> Enviar para revisão
                                </button>
                                <button ng-if="Auth.isDiretor(true) && item.estado=='ANALISADA'" type="button" class="btn btn-default btn-sm" title="Enviar para despacho do Secretário"
                                ng-click="setaEstado(item,'ADESPACHAR')">
                                    <i class="fa fa-check-circle"></i> Enviar para despacho do Secretário
                                </button>


                                <button ng-if="Auth.isSecretario(true) && item.estado=='ADESPACHAR'" type="button" class="btn btn-default btn-sm" title="Despachar"
                                ng-click="setaEstado(item,'DESPACHADA')">
                                    <i class="fa fa-paper-plane"></i> Despachar
                                </button>
                                <button ng-if="Auth.isEquipe(true)  && item.estado=='ADESPACHAR_PRESENCA'" type="button" class="btn btn-default btn-sm" title="Re enviar para despacho do secretário"
                                ng-click="setaEstado(item,'ADESPACHAR')">
                                    <i class="fa fa-check-circle"></i> Enviar para despacho do Secretário
                                </button>
                                <button ng-if="Auth.isEquipe(true)  && item.estado=='ADESPACHAR_PRESENCA'" type="button" class="btn btn-default btn-sm" title="Enviar para re análise"
                                ng-click="setaEstado(item,'EMANALISE')">
                                    <i class="fa fa-retweet"></i> Nova análise pelo técnico
                                </button>

                                <button ng-if="Auth.isDiretor(true) && (item.estado=='ANALISADA' || item.estado=='ADESPACHAR')" type="button" class="btn btn-default btn-sm"
                                title="Enviar para re análise" ng-click="setaEstado(item,'EMANALISE')">
                                    <i class="fa fa-retweet"></i> Nova análise pelo técnico
                                </button>


                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="box-tools pull-right" ng-if="Auth.isSecretario(true) && configConsulta.botoes=='DESPACHO'" ng-hide="inactivateSpinner==true && item===savingItem">


                                <button ng-if="item.estado=='EMANALISE'" type="button" class="btn btn-default btn-sm" title="Desfazer" ng-click="setaEstado(item,'ADESPACHAR')">
                                    <i class="fa fa-undo"></i> Desfazer
                                </button>

                                <button ng-if="item.estado=='DESPACHADA'" type="button" class="btn btn-default btn-sm" title="Desfazer" ng-click="setaEstado(item,'ADESPACHAR')">
                                    <i class="fa fa-undo"></i> Desfazer
                                </button>

                                <button ng-if=" item.estado=='ADESPACHAR'" type="button" class="btn btn-success btn-sm" title="Despachar" ng-click="setaEstado(item,'DESPACHADA')">
                                    <i class="fa fa-paper-plane"></i> Despachar
                                </button>
                                <button ng-if="item.estado=='ADESPACHAR'" type="button" class="btn btn-info btn-sm" title="Despachar com técnico" ng-click="despachoPresencial(item)">
                                    <i class="fa fa-user"></i> Despacho presencial
                                </button>

                                <button ng-if="(item.estado=='ANALISADA' || item.estado=='ADESPACHAR')" type="button" class="btn btn-warning btn-sm" title="Enviar para re análise"
                                ng-click="setaEstado(item,'EMANALISE')">
                                    <i class="fa fa-retweet"></i> Re-Analisar
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <i class="fa fa-star-o" ng-show="!item.favorita" ng-click="item.favorita=true;save(item)"></i>
                                    <i class="fa fa-star" style="color: orange" ng-show="item.favorita" ng-click="item.favorita=false;save(item)"></i>

                                    <h3 class="box-title"><a href=""  data-widget="collapse" target="_blank"  title="{{item.sigla}} - {{item.estado}}">{{item.sigla}}</a></h3>
                                    <div style="cursor:default" class="time" ng-class="{'text-muted':item.pautaComissaoAtual.pautaReuniaoComissao.data<(new Date().getTime())}" ng-show="item.pautaComissaoAtual.pautaReuniaoComissao.data>getSunday()" title="Pautada para {{item.pautaComissaoAtual.pautaReuniaoComissao.data| date:'fullDate'}}">
                                        <i class="fa fa-clock-o"></i> {{item.pautaComissaoAtual.pautaReuniaoComissao.data|
                                        date:'EEE, H:mm'}}
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <strong>Relator: </strong><span ng-if="item.pautaComissaoAtual.relator==null">Não identificado</span>{{item.pautaComissaoAtual.relator}}
                                </div>
                                <div class="col-sm-6 col-md-2 col-lg-2">


                                    <span class="label" ng-class="{'bg-gray':item.posicionamentoAtual==null,
                                                'label-danger':(item.posicionamentoAtual.posicionamento.nome.indexOf('Contrário')>-1),
                                                'label-info':(item.posicionamentoAtual.posicionamento.nome.indexOf('Nada')>-1)||(item.posicionamentoAtual.posicionamento.nome.indexOf('Monitorar')>-1),
                                                'label-success':item.posicionamentoAtual.posicionamento.nome.indexOf('Favorável')>-1
                                                }">{{item.posicionamentoAtual.posicionamento.nome}}</span>



                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-12 col-lg-12 onlyclosed">
                                    <blockquote>
                                        <small ng-if="item.explicacao!=null" title="Explicação da SAL"> {{item.explicacao}}</small>
                                        <small ng-if="item.explicacao==null" title="Ementa"> {{item.ementa}}</small>
                                    </blockquote>

                                </div>

                            </div>
                            <!-- /. tools -->
                        </div>
                        <div class="box-body">
                            <div ng-include="'views/Proposicao/proposicao_fragment.html'" ng-controller="ProposicaoItemController" onload="proposicao = item;">
                            </div>

                        </div>
                        <div class="box-footer clearfix"></div>
                    </div>



                </div>
                <div class="alert alert-info " ng-show="infiniteScroll.full">
                    <i class="icon fa fa-info"></i> Todos registros carregados baseado no filtro atual
                </div>
            </div>
        </div>
    </div>
</div>