<div class="col-sm-5">
    <div style="border:none;border-radius:0px;border-top: 1px solid #ddd; border-bottom: 1px solid #eee;    padding: 15px;background-color:white;font-family:inherit;"
    ng-click="showTextArea=true;temaTxt=true;" title="Clique para editar" ng-hide="showTextArea || proposicao.explicacao==null || proposicao.explicacao==''"
    style="margin-bottom=0">{{proposicao.explicacao}}</div>
    <textarea class="form-control fontsize-sm " rows="3" ng-show="showTextArea || proposicao.explicacao==null || proposicao.explicacao==''"
    placeholder="Sem tema SAL. Digite o tema da proposição..." ngTrim="true" ng-model="proposicao.explicacao" ng-focus="showTextArea=true;temaTxt=true;   setSelectedProposicao(proposicao)"
    ng-change="setUpdated('explicacao',proposicao)" ng-blur="checkUpdatedField('explicacao',proposicao);showTextArea=false;"
    focus-me="temaTxt" style="margin-bottom:5px;"></textarea>
    <div class="divider-top clearfix">

        <strong>Ementa: </strong>
        <div>{{proposicao.ementa}}</div>

        <strong>Autor: </strong>{{proposicao.autor}}
        <br /> <strong>Origem: </strong>{{proposicao.origem}}
        <br />
    </div>

    <div class="divider-top clearfix">
        <strong>Comissao: </strong><span ng-if="proposicao.pautaComissaoAtual==null && proposicao.comissao!=null">{{proposicao.comissao}} </span>{{proposicao.pautaComissaoAtual.pautaReuniaoComissao.comissao}}
        <br/>
        <strong>Ordem na Pauta: </strong>{{proposicao.pautaComissaoAtual.ordemPauta}} <span ng-show="proposicao.pautaComissaoAtual && proposicao.pautaComissaoAtual.pautaReuniaoComissao.manual!=true">({{proposicao.pautaComissaoAtual.pautaReuniaoComissao.data | date:'dd/MM HH:mm'}})</span>
        <br/>
        <strong>Relator: </strong><span ng-if="proposicao.pautaComissaoAtual.relator==null">Não identificado</span>{{proposicao.pautaComissaoAtual.relator}}
        <br/>
    </div>
    <div class="divider-top clearfix">

        <strong>Área externa</strong> <span ng-show="proposicao.totalParecerAreaMerito==0">nenhum parecer</span>
        <span ng-show="proposicao.totalParecerAreaMerito>0"><a ng-show="proposicao.revisoes==null && proposicao.totalParecerAreaMerito>0" ng-click="loadRevisoes(proposicao)">({{proposicao.totalParecerAreaMerito}} pareceres)</a></span>
        <a class="pull-right" ng-click="abrirModalParecerAreaMerito(proposicao)" title="Adicionar parecer de área externa"><i class="fa fa-plus-circle"></i></a>
        <br/>


        <div class="table-responsive no-padding" ng-show="proposicao.revisoes.length>0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Posicionamento</th>
                        <th>Parecer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="revisao in proposicao.revisoes" ng-click="abrirModalParecerAreaMerito(proposicao,revisao)">
                        <td>{{revisao.areaMerito.nome}}</td>
                        <td>{{revisao.dataAtualizacao| date:'dd/MM HH:mm'}}</td>
                        <td>{{revisao.posicionamento.nome}}</td>
                        <td>{{revisao.parecer}}</td>
                    </tr>



                </tbody>
            </table>
        </div>

    </div>
    <div class="divider-top clearfix">
        <label>Posicionamento SUPAR: </label>
        <div class="form-group">
            <input typeahead-editable="false" type="text" ng-model="proposicao.posicionamentoSupar" placeholder="SUPAR sem posicionamento definido"
            ng-blur="validaPosicionamento(proposicao,'posicionamentoSupar')" ng-required="false" typeahead="posicao as posicao.nome for posicao in getPosicionamentos($viewValue) | filter:$viewValue"
            class="form-control">
        </div>
    </div>

    <div class="divider-top clearfix">
        <span ng-show="proposicao.origem == 'SENADO'">
									<a
										href="http://www.senado.leg.br/atividade/materia/detalhes.asp?p_cod_mate={{proposicao.idProposicao}}#DIV_TRAMITACAO"
										target="_blank"><i class="fa fa-history"></i> Histórico de Tramitação</a>
								</span>
        <span ng-show="proposicao.origem == 'CAMARA'">
									<a
										href="http://www.camara.gov.br/proposicoesWeb/fichadetramitacao?idProposicao={{proposicao.idProposicao}}#tramitacoes"
										target="_blank"><i class="fa fa-history"></i> Histórico de Tramitação</a>
								</span>
        <span class="divider-left">
                                    <a  ng-show="isFollowed(proposicao)" href ng-click="unfollowProposicao(proposicao);"><i class="fa fa-check-square-o"></i> Seguindo proposição</a>
                                    <a  ng-show="!isFollowed(proposicao)" href ng-click="followProposicao(proposicao);"><i class="fa fa-square-o"></i> Seguir proposição</a>
								</span>
        <span class="divider-left">
                                    <a  href ng-click="checkUpdates(proposicao);"><i class="fa fa-refresh" ng-class="{'fa-spin':checkingUpdated}"></i> Atualizar dados da {{proposicao.origem}}</a>

								</span>
    </div>


</div>
<div class="col-sm-7">
    <div class="panel panel-primary">
        <div class="panel-heading ">
            SAL
        </div>
        <div class="panel-body">

            <div class=" clearfix">

                <div>
                    <label>Posicionamento SAL: </label>
                    <div ng-show="semPosicionamento">
                        <i class="glyphicon glyphicon-remove"></i> Nenhum resultado
                    </div>
                    <div class="form-group">

                        <input typeahead-editable="false" type="text" ng-model="proposicao.posicionamentoAtual.posicionamento" placeholder="Procurar"
                        ng-required="true" ng-blur="validaPosicionamento(proposicao.posicionamentoAtual,'posicionamento');"
                        typeahead-focus-first="true" typeahead="posicao as posicao.nome for posicao in getPosicionamentos($viewValue) | filter:$viewValue"
                        class="form-control">
                    </div>
                </div>
                <div>
                    <strong>Explicação do posicionamento: </strong>
                    <pre title="Clique para editar" style="border:none;border-radius:0px;border-top: 1px solid #ddd; border-bottom: 1px solid #eee;    padding: 15px;background-color:white;font-family:inherit;"
                    ng-click="showParecerTextArea=true;parecerTXT=true;" ng-hide="showParecerTextArea" style="margin-bottom=0"><span ng-if="proposicao.parecerSAL==null">Sem parecer</span>{{proposicao.parecerSAL}}</pre>
                    <textarea class="form-control fontsize-sm " rows="3" ng-show="showParecerTextArea" placeholder="Descreva o parecer da SAL..."
                    ngTrim="true" ng-model="proposicao.parecerSAL" ng-change="setUpdated('parecerSAL',proposicao)" ng-focus="setSelectedProposicao(proposicao)"
                    ng-blur="checkUpdatedField('parecerSAL',proposicao);showParecerTextArea=false;" focus-me="parecerTXT"
                    style="margin-bottom:5px;"></textarea>
                </div>

                <div>
                    <label>Equipe Responsável: </label>
                    <div>
                        <input typeahead-editable="false" type="text" ng-model="proposicao.equipe" placeholder="Procurar equipe" ng-required="false"
                        typeahead="proposicao as proposicao.nome for proposicao in equipes" ng-focus="setSelectedProposicao(proposicao)"
                        typeahead-focus-first="true" ng-model-options="{ debounce: 500 }" typeahead-on-select="save(proposicao);"
                        class="form-control">
                    </div>
                </div>
                <div>
                    <label>Responsável: </label>
                    <div>
                        <input typeahead-editable="false" type="text" ng-model="proposicao.responsavel" placeholder="Procurar usuário" ng-required="true"
                        typeahead="proposicao as proposicao.nome for proposicao in getUsuarios($viewValue, buscaGeral)" ng-focus="setSelectedProposicao(proposicao)"
                        typeahead-focus-first="true" ng-model-options="{ debounce: 500 }" ng-blur="checkRemocaoResponsavel(proposicao)"
                        typeahead-on-select="save(proposicao); responsavelNull=(proposicao.responsavel==null);proposicao.responsavelNaoDefinido = false;"
                        class="form-control">
                        <input type="checkbox" ng-model="proposicao.buscaGeral"> Buscar completa
                    </div>
                </div>



                <div class="well">
                    <label>Análise documental SAL: <strong> <a ng-click="abrirModalNotaTecnica(proposicao)" class="ng-binding"><i class="fa fa-file-text"></i>  {{proposicao.totalNotasTecnicas+proposicao.totalBriefings+proposicao.totalEmendas}} documentos</a></strong></label>
                    <div><strong>  <a ng-click="baixarTemplate(proposicao,'briefing')"> <i class="fa fa-download"></i> Baixar Resumo Analítico</a> 
                    <a ng-click="baixarTemplate(proposicao,'nota')"> <i class="fa fa-download"></i> Baixar Nota Técnica</a>
                    <a ng-click="baixarTemplate(proposicao,'emenda')"> <i class="fa fa-download"></i> Baixar Emenda</a></strong></div>
                </div>
            </div>
            <div class=" clearfix">

                <div class="col-md-12">
                    <div ng-show="proposicao.listaComentario.length > 0">
                        <strong>Últimos comentários:</strong>

                        <p>{{proposicao.listaComentario[proposicao.listaComentario.length-1].dataCriacao | date: 'dd/MM/yyyy'}}
                            - {{proposicao.listaComentario[proposicao.listaComentario.length-1].descricao}}
                        </p>
                    </div>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control fontsize-sm" rows="1" placeholder="Adicione um comentário" ng-model="proposicao.comentarioTmp"></textarea>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success btn-sm" ng-click="incluirComentario(proposicao)">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </div>
            <div class="divider-top clearfix">
                <div class="col-md-6">
                    <strong> <a ng-click="abrirModalComentarios(proposicao)"><i
														class="fa fa-comment"></i> {{proposicao.totalComentarios}} comentários</a></strong>
                </div>
                <div class="col-md-6 text-right">
                    <strong><a
													ng-click="abrirModalEncaminhamentos(proposicao)">
														{{proposicao.listaEncaminhamentoProposicao.length || proposicao.totalEncaminhamentos}}
														encaminhamentos</a></strong>
                </div>
            </div>


            <div class="divider-top clearfix">
                <label>Anotação ASPAR: </label>
                <div class="form-group">
                    <div class="col-md-10">
                        <textarea class="form-control fontsize-sm" rows="3" placeholder="Adicione um resultado" ng-model="proposicao.resultadoASPAR"></textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success btn-sm" ng-click="save(proposicao)"><i class="fa fa-check"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="divider-top ">
                <label>Macrotema: </label>
                <div class="form-group">
                    <tags-input ng-model="proposicao.tags" ng-class="form-group" on-tag-added="save(proposicao)" on-tag-removed="save(proposicao)"
                    min-length="1" placeholder="Adicione uma palavra chave" display-property="tag">
                        <auto-complete source="loadTags($query)"></auto-complete>
                    </tags-input>
                </div>
            </div>
        </div>
    </div>
</div>