<header ng-switch on="$location.path().indexOf('/Proposicaos/new') > -1">
    <h3 ng-switch-when="true">Create a new Proposicao</h3>
    <h3 ng-switch-when="false">View or edit Proposicao</h3>
</header>
<form id="ProposicaoForm" name="ProposicaoForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': ProposicaoForm.idProposicao.$invalid}">
        <label for="idProposicao" class="col-sm-2 control-label">Id Proposicao</label>
        <div id="idProposicaoControls" class="col-sm-10">
            <input id="idProposicao" name="idProposicao" type="number" class="form-control" ng-model="proposicao.idProposicao" placeholder="Enter the Proposicao Id Proposicao"></input>
            <span class="help-block error" ng-show="ProposicaoForm.idProposicao.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProposicaoForm.ano.$invalid}">
        <label for="ano" class="col-sm-2 control-label">Ano</label>
        <div id="anoControls" class="col-sm-10">
            <input id="ano" name="ano" type="text" class="form-control" ng-model="proposicao.ano" placeholder="Enter the Proposicao Ano"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProposicaoForm.numero.$invalid}">
        <label for="numero" class="col-sm-2 control-label">Numero</label>
        <div id="numeroControls" class="col-sm-10">
            <input id="numero" name="numero" type="number" class="form-control" ng-model="proposicao.numero" placeholder="Enter the Proposicao Numero"></input>
            <span class="help-block error" ng-show="ProposicaoForm.numero.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProposicaoForm.dataApresentacao.$invalid}">
        <label for="dataApresentacao" class="col-sm-2 control-label">Data Apresentacao</label>
        <div id="dataApresentacaoControls" class="col-sm-10">
            <date id="dataApresentacao" name="dataApresentacao" ng-model="proposicao.dataApresentacao" placeholder="Enter the Proposicao Data Apresentacao"></date>
            <span class="help-block error" ng-show="ProposicaoForm.dataApresentacao.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProposicaoForm.ementa.$invalid}">
        <label for="ementa" class="col-sm-2 control-label">Ementa</label>
        <div id="ementaControls" class="col-sm-10">
            <input id="ementa" name="ementa" type="text" class="form-control" ng-model="proposicao.ementa" placeholder="Enter the Proposicao Ementa"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProposicaoForm.autor.$invalid}">
        <label for="autor" class="col-sm-2 control-label">Autor</label>
        <div id="autorControls" class="col-sm-10">
            <input id="autor" name="autor" type="text" class="form-control" ng-model="proposicao.autor" placeholder="Enter the Proposicao Autor"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProposicaoForm.listaReuniao.$invalid}">
        <label for="listaReuniao" class="col-sm-2 control-label">Lista Reuniao</label>
        <div id="listaReuniaoControls" class="col-sm-10">
            <select id="listaReuniao" name="listaReuniao" multiple class="form-control" ng-model="listaReuniaoSelection" ng-options="l.text for l in listaReuniaoSelectionList">
                <option value="">Choose a Lista Reuniao</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveProposicao" name="saveProposicao" class="btn btn-primary" ng-disabled="isClean() || ProposicaoForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteProposicao" name="deleteProposicao" class="btn btn-danger" ng-show="proposicao.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>