<div class="form-horizontal">
    <h3>Create a new Proposicao</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Proposicaos/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Proposicaos</h3>
    <form id="ProposicaoSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="idProposicao" class="col-sm-2 control-label">Id Proposicao</label>
        <div class="col-sm-10">
            <input id="idProposicao" name="idProposicao" class="form-control" type="text" ng-model="search.idProposicao" placeholder="Enter the Proposicao Id Proposicao"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="ano" class="col-sm-2 control-label">Ano</label>
        <div class="col-sm-10">
            <input id="ano" name="ano" class="form-control" type="text" ng-model="search.ano" placeholder="Enter the Proposicao Ano"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="numero" class="col-sm-2 control-label">Numero</label>
        <div class="col-sm-10">
            <input id="numero" name="numero" class="form-control" type="text" ng-model="search.numero" placeholder="Enter the Proposicao Numero"></input>
        </div>
    </div>


    <div class="form-group">
        <label for="ementa" class="col-sm-2 control-label">Ementa</label>
        <div class="col-sm-10">
            <input id="ementa" name="ementa" class="form-control" type="text" ng-model="search.ementa" placeholder="Enter the Proposicao Ementa"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="autor" class="col-sm-2 control-label">Autor</label>
        <div class="col-sm-10">
            <input id="autor" name="autor" class="form-control" type="text" ng-model="search.autor" placeholder="Enter the Proposicao Autor"></input>
        </div>
    </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Id Proposicao</th>
                    <th>Ano</th>
                    <th>Numero</th>
                    <th>Data Apresentacao</th>
                    <th>Ementa</th>
                    <th>Autor</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Proposicaos/edit/{{result.id}}">{{result.idProposicao}}</a></td>
                    <td><a href="#/Proposicaos/edit/{{result.id}}">{{result.ano}}</a></td>
                    <td><a href="#/Proposicaos/edit/{{result.id}}">{{result.numero}}</a></td>
                    <td><a href="#/Proposicaos/edit/{{result.id}}">{{result.dataApresentacao| date:'mediumDate'}}</a></td>
                    <td><a href="#/Proposicaos/edit/{{result.id}}">{{result.ementa}}</a></td>
                    <td><a href="#/Proposicaos/edit/{{result.id}}">{{result.autor}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>