<button type="button" class="btn btn-default btn-block no-print" ng-click="printIt()">
    <i class="fa fa-print"></i> Imprimir</button>


<div class="divHeader"><img src="img/brasao_colorido.gif" />
    <div>MINISTÉRIO DA JUSTIÇA E CIDADANIA</div>
    <div>SECRETARIA DE ASSUNTOS LEGISLATIVOS</div>
</div>
<div style="width:100%;" class="notatecnica">
    <div class="numeracao">Nota Técnica nº ___/2016</div>
    <div class="informacoes_gerais">
        <div class="titulo">I. Informações Gerais</div>
        <div><span class="rotulo">Projeto no.:</span><span class="valor">1232312</span></div>
        <div><span class="rotulo">Autor:</span><span class="valor">Senador XYZ</span></div>
        <div><span class="rotulo">Tema:</span><span class="valor">BLA</span></div>
        <div><span class="rotulo">Tramitação:</span>
            <ul>
                <li><span class="rotulo">CSPCCO:</span><span class="valor">parecer pela rejeição, pendente de votação</span></li>
                <li><span class="rotulo">CTASP:</span><span class="valor">aguardando</span></li>
            </ul>
        </div>
        <div><span class="rotulo">Comissão atual:</span><span class="valor">XYZ</span></div>
        <div><span class="rotulo">Relator:</span><span class="valor">XYZ</span></div>
        <div><span class="valor">Posicionamento da área:</span> <span class="valor">Área XYZ - Contrário</span></div>
        <div><span class="rotulo">Posição do MJC sobre a versão apresentada:</span></div>
        <div><span class="rotulo" style="text-transform: uppercase; ">contraria</span></div>
    </div>
    <div class="analise">
        <div class="titulo">II. Análise</div>
        <div>
            <ol>
                <li>Trata-se de Projeto de Lei/Projeto de Emenda a Constituição (etc)... no. XXX, de XXX, de autoria de XXXXX.</li>

                <li>Tema o que faz</li>

                <li>Indicar aqui o texto que foi colocado no campo Explicação (texto maior)</li>
                <li> O projeto tramitou pelas Comissões xxxxx e ainda deverá tramitar pela Comissão yyyyy. (adaptar o texto, conforme
                    o caso,, lembrando que pode estar na última comissão.). Se estiver na CCJ, explicar se haverá ou não
                    análise de mérito (isso pode ser tirado do despacho inicial da Mesa da Câmara/Senado)</li>
                <li>A Secretaria de Assuntos Legislativos consultou a área XXXX, que se posicionou XXXX ao projeto. De acordo
                    com a área, XXXXXX (texto colocado pela área). Este parágrafo existe apenas quando houver posicionamento.
                </li>
                <li> Análise do projeto (texto grande do técnico)</li>
            </ol>
        </div>
    </div>
    <div class="conclusao">
        <div class="titulo">III. Conclusão</div>
        <div>
            <ol>
                <li>Deste modo, o Ministéroi da Justiça e Cidaania é favoravel/Contrário à aprovação do Projeto, com o texto
                    em que se apresenta.</li>

            </ol>
        </div>
        <div class="datalocal">Brasília, 10 de Setembro de 2016</div>
    </div>

    <div class="autoria">
        <div class="entrada">
            <div>Nome do Responsável</div>
            <div class="cargo">Assessor</div>
        </div>
        <div class="entrada">
            <div>Nome do Diretor</div>
            <div class="cargo">Diretor</div>
        </div>
        <div class="entrada">
            <div>Marcelo D. Varella</div>
            <div class="cargo">Secretário de Assuntos Legislativo</div>
        </div>
    </div>
</div>