<!-- Modal Encaminhamentos -->
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="ok()">
		<span aria-hidden="true">&times;</span> <span class="sr-only">Fechar</span>
	</button>
	<h4 class="modal-title" id="myModalLabel">Encaminhamentos</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Encaminhamentos</div>
				<div class="panel-body line-9 rol-vert fontsize-sm">
					<div class="list-group" ng-repeat="item in encaminhamentos">
						<div class="divider-bottom">
							<p><strong>{{item.encaminhamento.nome}}</strong></p>
							<p><strong>Responsável: </strong>{{item.responsavel.nome}}</p>
							<p><strong>Data e Hora Limite: </strong>{{item.dataHoraLimite | date: 'dd/MM/yyyy HH:mm'}}</p>
							<p>{{item.comentario.descricao}}</p>
							<div class="mt-sm">
								<p>
									Feito por: <strong>{{item.comentario.autor.nome}}</strong> <span class="ml-lg">Data: {{item.comentario.dataCriacao | date: 'dd/MM/yyyy'}}<span class="ml-lg">
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- /Modal Encaminhamentos -->
