<!-- Modal Comentários -->
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="ok()">
		<span aria-hidden="true">&times;</span> <span class="sr-only">Fechar</span>
	</button>
	<h4 class="modal-title" id="myModalLabel">Comentários</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Comentários</div>
				<div class="panel-body line-9 rol-vert fontsize-sm">
					<div class="list-group" ng-repeat="item in comentarios | orderBy:'dataCriacao':true" ng-show="!tarefa">
						<div class="divider-bottom">
							<p>{{item.descricao}}</p>
							<div class="mt-sm">
								<p>
									Feito por: <strong>{{item.autor.nome}}</strong> <span class="ml-lg">Data: {{item.dataCriacao | date: 'dd/MM/yyyy'}}</span>
								</p>
							</div>
						</div>
					</div>
                    <div class="finalizar-tarefa" ng-show="tarefa && !tarefa.finalizada">
                        <div class="form-group">
                            <label>Comentário:</label>
                            <textarea ng-model="tarefa.comentarioFinalizacao" class="form-control" rows="3" placeholder="Adicionar o comentário de finalização de tarefa ..."></textarea>
                        </div>
                        <div class="box-footer">
                            <button type="button" class="btn btn-info" ng-click="finalizar(tarefa);">Finalizar tarefa</button>
                        </div>
                    </div>

				</div>
			</div>

		</div>
	</div>
</div>
<!-- /Modal Comentários -->
