<header ng-switch on="$location.path().indexOf('/Usuarios/new') > -1">
    <h3 ng-switch-when="true">Adicionar novo Usuario</h3>
    <h3 ng-switch-when="false">Visualizar ou editar um Usuario</h3>
</header>
<form id="UsuarioForm" name="UsuarioForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': UsuarioForm.nome.$invalid}">
        <label for="nome" class="col-sm-2 control-label">Nome</label>
        <div id="nomeControls" class="col-sm-10">
            <input id="nome" name="nome" type="text" class="form-control" ng-model="usuario.nome" placeholder="Escreva o nome do Usuario" ng-required="true"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': UsuarioForm.email.$invalid}">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div id="emailControls" class="col-sm-10">
            <input id="email" name="email" type="email" class="form-control" ng-model="usuario.email" placeholder="Escreve o e-mail do Usuario" ng-required="true"></input>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveUsuario" name="saveUsuario" class="btn btn-primary" ng-disabled="isClean() || UsuarioForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Salvar</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancelar</button>
            <button id="deleteUsuario" name="deleteUsuario" class="btn btn-danger" ng-show="usuario.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
        </div>
    </div>
</form>