@CHARSET "UTF-8";

/* Sticky footer styles
 -------------------------------------------------- */

html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#wrap > .container {
    padding-top: 50px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
}

#footer {
    background-color: #F5F5F5;
    text-align: center;
    border-top: 1px solid #E5E5E5;
}

h2 i.icon-check {
    vertical-align: middle;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    table {
        table-layout: auto;
    }
    .row-offcanvas {
        position: relative;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        display:none;
    }
    .row-offcanvas-left.active .sidebar-offcanvas {
        display:inherit;
    }
    .row-offcanvas-left.active .mainarea {
        display:none;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 100%;
    }
}

#spinner {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10000;
    background-color:grey;
    opacity: .8;
 }

.ajax-loader {
    position: absolute;
    left: 40%;
    top: 30%;
    display: block;     
}

 ul.tab {
    list-style: none;
    padding: 0;
    margin: 0;
}
li.tab {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
} 
#mainView {
    border: 1px solid black;
	clear: both;
	padding: 0 1em;
}
.active {
    background-color: #FFF;
    color: #000;
}





