 <!-- Tudo que for para o usuario imprimir deve ficar nesse HTML -->
 <div class="list-group" ng-repeat="(comissao, value) in listaReuniaoProposicoes | filter:filtroGlobal | filter:filtroOrigem | filter:filtroComissao | filter:{favorita:filtroFavorita} | selectedTags:filtroTags |  groupBy :'comissao' |  orderBy : 'comissao' ">
     <div class="list-group-item active" >
         <h4 class="list-group-item-heading">{{comissao}}</h4>
     </div>
     <div ng-repeat="item in value | orderBy : 'seqOrdemPauta'" class="list-group-item clearfix">
	     <div class="row">
	         <div class="col-sm-12">
	             <h3 class="list-group-item-heading">{{item.sigla}}</h3>
	             <p>{{item.ementa}}
	                 <br/>
	                 <strong>Autor: </strong>{{item.autor}}
	                 <br/>
	                 <strong>Origem: </strong>{{item.origem}}
	                 <br/>
	                 <strong>Comissao: </strong>{{item.comissao}}
	                 <br/>
	                 <strong>Ordem na Pauta: </strong>{{item.seqOrdemPauta}}
	                 <br/>
	             </p>
	         </div>
	     </div>
     </div>
 </div>
