<section class="content-header">
    <h1>Usuários</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listagem</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-3">
                                <a id="create" class="btn btn-primary" href="#/Usuarios/new"><span class="glyphicon glyphicon-plus-sign"></span> Adicionar</a>
                            </div>
                            <div class="col-sm-3">
                                <div class="dataTables_filter">
                                    <label>Nome:&nbsp;<input id="nome" name="nome" class="form-control" type="text" ng-model="search.nome" placeholder="Buscar pelo nome" /></label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="dataTables_filter">
                                    <label>E-mail:&nbsp;<input id="email" name="email" class="form-control" type="text" ng-model="search.email" placeholder="Buscar pelo e-mail" /></label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="dataTables_filter">
                                    <label>Equipe:&nbsp;
                                        <select ng-model="equipeSelecionada" ng-options="item.id as item.nome for item in listaEquipe" class="form-control" ng-change="buscarPorEquipe()">
                                            <option value=""></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>E-mail</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                                        <td><a href="#/Usuarios/edit/{{result.id}}">{{result.nome}}</a></td>
                                        <td><a href="#/Usuarios/edit/{{result.id}}">{{result.email}}</a></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination pagination-centered">
                                        <li ng-class="{disabled:currentPage == 0}"><a id="prev" href ng-click="previous()">«</a></li>
                                        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)"><a href ng-bind="n + 1">1</a></li>
                                        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}"><a id="next" href ng-click="next()">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>