<section class="content-header">
    <h1>Área consultada</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border" ng-switch on="$location.path().indexOf('/AreaConsultadas/new') > -1">
                    <h3 class="box-title" ng-switch-when="true">Adicionar</h3>
                    <h3 class="box-title" ng-switch-when="false">Editar</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form id="AreaConsultadaForm" name="AreaConsultadaForm" role="form">
                    <div ng-show="displayError" class="alert alert-danger">
                        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
                    </div>
                    <div class="box-body">
                        <div class="form-group" ng-class="{'has-error': AreaConsultadaForm.descricao.$invalid}">
                            <label for="descricao">Descrição:</label>
                            <input id="descricao" name="descricao" type="text" class="form-control" ng-model="areaConsultada.descricao" placeholder="Escreva o nome da área consultada" ng-required="true" />
                        </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button id="savePosicionamento" name="savePosicionamento" class="btn btn-primary" ng-disabled="isClean() || PosicionamentoForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Salvar</button>
                        <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancelar</button>
                        <button id="deletePosicionamento" name="deletePosicionamento" class="btn btn-danger" ng-show="posicionamento.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>