<h3>Gerenciar Reunião</h3>

<div class="row">
	<div class="col-sm-4" id="listagem-proposicoes">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<div class="pull-left">Proposições</div>
				<div class="pull-right">
					<button type="button" class="btn btn-primary btn-sm" ng-click="open()">Buscar proposições</button>
				</div>
			</div>

			<div class="row pt-sm pb-sm">
				<div class="col-xs-5 text-right">Data para a reunião:</div>

				<div class="col-xs-5 datas-picker">
					<div class="input-group date">
						<input type="date" class="form-control" ng-model="reuniao.data"> 
<!-- 						<span class="input-group-addon"><i class="fa fa-calendar"></i> </span> -->
					</div>
				</div>
			</div>


			<div class="list-group rol-vert height-full" ng-repeat="item in reuniao.listaProposicao">

				<a href="javascript:;" class="list-group-item" ng-click="getProposicao(item.id)">
					<button type="button" class="close">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Excluir</span>
					</button>
					<h4 class="list-group-item-heading">{{item.sigla}}</h4>
					<div class="list-group-item-text">
						<p>{{item.ementa}}</p>
						<p class="fontsize-sm">
							<strong>Autor:</strong>{{item.autor}}
						</p>
					</div>
				</a>
			</div>
			<!-- /item -->

		</div>
	</div>
	<div class="col-sm-8">
		<div class="panel panel-default ">
			<div class="panel-heading">Detalhamento</div>
			<div class="pt-sm pb-sm">
				<div class="col-xs-5">
					<a href="#" data-toggle="modal" data-target="#modalProposicao"><i class="fa fa-comment"></i> 3 comentários</a> (clique para adicionar)
				</div>
				<div class="col-xs-5"></div>
			</div>
			<hr>
			<div class="panel-body rol-vert height-full">
				<h3>{{selectedProposicao.sigla}}</h3>
				<p class="divider-top">{{selectedProposicao.ementa}}</p>
			</div>
		</div>
	</div>
</div>
